<div class="bg-img" style="background: url('assets/images/BG.png'); background-size: 1368px 850px;">
    <div class="header">{{ "UpdateTAC" | translate }}</div>

    <div class="container-fluid">
        <div class="row padTop5rem content-container" *ngIf="EnterPhoneNo">
            <div class="text-center">
                <div class="lblHeader">
                    {{"phoneEntryMsg"| translate}}
                </div>
                <div class="row padTopHalfrem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <input type="text" id="phoneNo" name="phoneNo" value="{{phoneNo}}">
                    </div>
                </div>
                <div class="row" *ngIf="phoneError">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <h5 class="errorMsg">{{"emptyPhoneError"| translate}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6 example">
                        <label class="">{{"exPhone" | translate}}</label>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-4 marginLeft">
                                <button class="keypad" (click)="click1()">1</button>
                            </div>
                            <div class="col-4">
                                <button class="keypad" (click)="click2()">2</button>
                            </div>
                            <div class="col-4 marginRight">
                                <button class="keypad" (click)="click3()">3</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-4 marginLeft">
                                <button class="keypad" (click)="click4()">4</button>
                            </div>
                            <div class="col-4">
                                <button class="keypad" (click)="click5()">5</button>
                            </div>
                            <div class="col-4 marginRight">
                                <button class="keypad" (click)="click6()">6</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-4 marginLeft">
                                <button class="keypad" (click)="click7()">7</button>
                            </div>
                            <div class="col-4">
                                <button class="keypad" (click)="click8()">8</button>
                            </div>
                            <div class="col-4 marginRight">
                                <button class="keypad" (click)="click9()">9</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-4 marginLeft">
                                <button class="keypad" (click)="click0()">0</button>
                            </div>
                            <div class="col marginPadam">
                                <button class="keypadPadam" (click)="clickDel()">{{ "delete" | translate }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row padTop2rem">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="note">
                            {{ "phoneNotes" | translate }}
                        </div>
                    </div>
                </div>
                <div class="row padTop2rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="EnterPhoneNoNo()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="EnterPhoneNoYes()">{{"send"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop5rem content-container" *ngIf="PhoneNoConfirmation">
            <div class="text-center">
                <div class="lblHeader">
                    {{"VerifyPhoneMsg"| translate}}
                </div>
                <div class="row padTop10rem">
                    <div class="col-3"></div>
                    <div class="col-2 right">
                        <label class="lblReg" style="margin-right: -7rem;">{{"phone"|translate}}</label>
                    </div>
                    <div class="col-2 lblSymbol" style="margin-top: 0.7rem;">:</div>
                    <div class="col-5 left">
                        <label class="lblInfo" style="margin-left: -1rem;">{{phoneNo}}</label>
                    </div>
                </div>
                <div class="row padTop15rem" *ngIf="!isCallAPI">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="PhoneNoConfirmationNo()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="PhoneNoConfirmationYes()">{{"approve"| translate}}</button>
                    </div>
                </div>
                <div class="row padTop15rem" *ngIf="isCallAPI">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop5rem content-container" *ngIf="Success">
            <div class="text-center">
                <div class="lblStatus">
                    {{"success"| translate}}
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/Icon-Berjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{successMessage|translate}}</div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="SuccessYes()">{{"yes"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop5rem content-container" *ngIf="Failed">
            <div class="text-center">
                <div class="lblStatus">
                    {{"fail"| translate}}
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/Icon-TidakBerjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{errorDesc | translate}}</div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="failedYes()">{{"continue"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>