<div class="bg-img">
    <div class="header">
        {{ "register" | translate }}
    </div>
    <div class="container">
        <div class="row padTop5rem">
            <div class="text-center">
                <div class="lblQuestion">
                    {{"question"| translate}}
                </div>
                <div class="row padTop5rem">
                    <div class="col-4">
                        <div class="row">
                            <label class="lblReg">Nama</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">No. MyKad / MyPR</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">Tarikh Lahir</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">Kewarganegaraan</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">Jantina</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">Bangsa</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">Agama</label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <label class="lblInfo">MUHAMMAD WAHYU NIZAM BIN OMIR</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">921130105537</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">20/12/1992</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">WARGANEGARA</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">LELAKI</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">MALAY</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">ISLAM</label>
                        </div>
                    </div>
                </div>
                <div class="row padTop10rem"> 
                    <div class="col-6">
                        <button type="button" class="btnNo">Tidak</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btnYes">Ya</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>