<div class="bg-img" style="background: url('assets/images/BG.png'); background-size: 1368px 850px;">
    <div class="header" *ngIf="RegKWSP">{{ "registerKWSP" | translate }}</div>
    <div class="header" *ngIf="RegIAkaun">{{"ActivateiAkaunHeader" | translate}}</div>
    <div class="header" *ngIf="RegShariah">{{"registerShariah" | translate}}</div>
    <div class="header" *ngIf="RegSaraan">{{"registerSaraan"|translate}}</div>

    <div class="container-fluid">

        <div class="row padTop5rem content-container" *ngIf="RegisterMemberPage">
            <div class="text-center">
                <div class="lblHeader">
                    {{"question"| translate}}
                </div>
                <div class="row padTop2rem">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <div class="row">
                            <label class="lblReg">{{"name" | translate}}</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">{{"ic" | translate}}</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">{{"born" | translate}}</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">{{"nation" | translate}}</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">{{"gender" | translate}}</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">{{"race" | translate}}</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">{{"religion" | translate}}</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label class="lblInfo">{{ name }}</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">{{ ic }}</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">{{ dob  }}</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">{{ nationality }}</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">{{ gender }}</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">{{ race }}</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">{{ religion }}</label>
                        </div>
                    </div>
                </div>
                <div class="row padTop5rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="RegisterMemberNo()">{{"no"|translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="RegisterMemberYes()">{{"yes"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="InsertPhonePage">
            <div class="text-center">
                <div class="lblHeader">
                    {{"phoneEntryMsg"| translate}}
                </div>
                <div class="row padTopHalfrem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <input type="text" id="phoneNo" name="phoneNo" value="{{phoneNo}}">
                    </div>
                </div>
                <div class="row" *ngIf="phoneError">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <h5 class="errorMsg">{{"emptyPhoneError"| translate}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6 example">
                        <label class="">{{"exPhone" | translate}}</label>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-4 marginLeft">
                                <button class="keypad" (click)="click1()">1</button>
                            </div>
                            <div class="col-4">
                                <button class="keypad" (click)="click2()">2</button>
                            </div>
                            <div class="col-4 marginRight">
                                <button class="keypad" (click)="click3()">3</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-4 marginLeft">
                                <button class="keypad" (click)="click4()">4</button>
                            </div>
                            <div class="col-4">
                                <button class="keypad" (click)="click5()">5</button>
                            </div>
                            <div class="col-4 marginRight">
                                <button class="keypad" (click)="click6()">6</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-4 marginLeft">
                                <button class="keypad" (click)="click7()">7</button>
                            </div>
                            <div class="col-4">
                                <button class="keypad" (click)="click8()">8</button>
                            </div>
                            <div class="col-4 marginRight">
                                <button class="keypad" (click)="click9()">9</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-4 marginLeft">
                                <button class="keypad" (click)="click0()">0</button>
                            </div>
                            <div class="col marginPadam">
                                <button class="keypadPadam" (click)="clickDel()">{{ "delete" | translate }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row padTop2rem">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="note">
                            {{ "phoneNotes" | translate }}
                        </div>
                    </div>
                </div>
                <div class="row padTop2rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="InsertPhoneNo()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="InsertPhoneYes()">{{"send"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="InsertEmailPage">
            <div class="text-center">
                <div class="lblHeader">
                    {{"emailMsg"| translate}}
                </div>
                <div class="row padTop3rem">
                    <div class="col-2"></div>
                    <div class="col-3">
                        <input type="text" class="use-keyboard-input" id="txtEmail" name="txtEmail" value="{{emailAddress}}" #email>
                    </div>
                    <div class="col-1 lblSymbol">@</div>
                    <div class="col-4">
                        <select [(ngModel)]="elist" name="emailDDappL" id="emailDDL" #emailDDL (change)="onChange($event)" [hidden]="isCustom">
                            <option *ngFor="let elist of emailList" value={{elist}}>
                                {{elist}}
                            </option>
                        </select>

                        <input type="text" class="use-keyboard-input" id="emailDDLText" name="emailDDLText" placeholder="youremail.com" value="{{emailDDLTextValue}}" #emailDDLText [hidden]="!isCustom">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary reset" [hidden]="!isCustom" (click)="reset()">X</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3"></div>
                    <div class="col-4">
                        <h5 class="errorMsg" *ngIf="emailError">{{"emptyEmailError"| translate}}</h5>
                    </div>
                    <div class="col-3"></div>
                </div>
                <div class="row padTop10rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="InsertEmailNo()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="InsertEmailYes()">{{"send"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop2rem content-container" *ngIf="ValidateProfilePage">
            <div class="text-center">
                <div class="lblHeader">
                    {{"ProfileMsg"| translate}}
                </div>
                <div class="row padTop2rem">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <div class="row">
                            <label class="lblReg">{{"name" | translate}}</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">{{"ic" | translate}}</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">{{"born" | translate}}</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">{{"nation" | translate}}</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">{{"gender" | translate}}</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">{{"race" | translate}}</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">{{"religion" | translate}}</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">{{"phone" | translate}}</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">{{"email" | translate}}</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <label class="lblInfo">{{name}}</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">{{ic}}</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">{{dob}}</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">{{nationality}}</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">{{gender}}</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">{{race}}</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">{{religion}}</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">{{phoneNo}}</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">{{fullEmailAddress}}</label>
                        </div>
                    </div>
                </div>
                <div class="row padTop5rem" *ngIf="!isCallAPI">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="ValidateProfileNo()">{{"back"|translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="ValidateProfileYes()">{{"approve"|translate}}</button>
                    </div>
                </div>
                <div class="row padTop5rem" *ngIf="isCallAPI">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="RegisterSuccessPage">
            <div class="text-center">
                <div class="lblHeader">
                    {{"KWSPNo"| translate}}
                </div>
                <div class="row">
                    <label class="lblKWSP">
                        {{ KWSPMemberNo }}
                    </label>
                </div>
                <div class="row padTop5rem">
                    <div class="col-2"></div>
                    <div class="col-8 lblHeader">
                        {{"SuccessReg"|translate}}
                    </div>
                </div>
                <div class="row" *ngIf="isiAkaunRegModuleEnabled">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <label class="lblMsg">
                            {{"DirectMsg"|translate}}
                        </label>
                    </div>
                </div>
                <div class="row padTop5rem" *ngIf="!noEmail">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="note">
                            {{ "emailNote" | translate }}
                        </div>
                    </div>
                </div>
                <div class="row padTop5rem" *ngIf="noEmail">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="note">
                            {{ "smsNote" | translate }}
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="failedTAC">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="noteWarning">
                            {{ "AddTACFailed" | translate }}
                        </div>
                    </div>
                </div>
                <div class="row padTop5rem" *ngIf="!isCallAPI">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <button type="button" class="btnYes" (click)="RegisterSuccessYes()">{{"continue"|translate}}</button>
                    </div>
                </div>
                <div class="row padTop5rem" *ngIf="isCallAPI">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop2rem content-container" *ngIf="TnCPage">
            <div class="row text-center">
                <label class="lblHeader">
                    {{"iAkaunTitle"| translate}}
                </label>
            </div>
            <div class="row text-center">
                <div class="col-1"></div>
                <div class="col-10">
                    <label class="lblWarning">
                        {{"iAkaunWarning"| translate}}
                    </label>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row text-center padTop3rem">
                <div class="col-1"></div>
                <div class="col-10 scrollBox">
                    <div class="scroll">
                        <p style="white-space: pre;">{{TnC}}</p>
                        <input class="regular-checkbox big-checkbox padTop3rem" id="tnc" name="tnc" type="checkbox" (click)="clickTNC1()"/>
                        <label class="lblTNC" for="tnc1">{{"TNC"| translate}}</label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row text-center">
                <div class="row padTop3rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="TnCNo()">{{"back"|translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" [ngClass]="xagreedTnc1 == false ? 'btnYes' : 'btnYesDisabled'" (click)="TnCYes()" [disabled]="xagreedTnc1">{{"agree"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTopHalfrem content-container" *ngIf="SetIdPassword">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"id"|translate}} </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <label class="lblAccount2">{{ ic }}</label>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"name"|translate}}</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <label class="lblAccount2">{{name}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"UserId"|translate}}</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <input target="needed" type="text" class="use-keyboard-input txtProfile" id="txtAccountNo" name="acctNum" value="{{ acctNo }}" required #account_number>
                    </div>
                </div>
                <div class="col-4">
                    <div class="akaunNoteSmall">
                        {{"IDNotice"|translate}}<br>
                        {{"IDSample"|translate}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <h4 class="errorMsgEmpty" *ngIf="emptyID">{{"emptyId"| translate}}</h4>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"password"|translate}}</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <input target="needed" type="password" class="use-keyboard-input txtProfile" id="txtPassword1" name="password" value="{{ password1 }}" required #password_1>
                    </div>
                </div>
                <div class="col-4">
                    <div class="akaunNoteSmall">
                        {{"PWNotice"|translate}}<br>
                        {{"PWSample"|translate}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <h4 class="errorMsgEmpty" *ngIf="emptyPassword">{{"emptyPassword"| translate}}</h4>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"newPassword"|translate}}</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <input target="needed" type="password" class="use-keyboard-input txtProfile" id="txtPassword2" name="password" value="{{ password2 }}" required #password_2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <h4 class="errorMsgEmpty" *ngIf="emptyConfirmPW">{{"emptyConfirmPW"| translate}}</h4>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row padTop2rem">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <h4 class="errorMsgEmpty" *ngIf="accountAlpha">{{"accountAlpha"| translate}}</h4>
                    <h4 class="errorMsgEmpty" *ngIf="passwordAlpha">{{"passwordAlpha"| translate}}</h4>
                    <h4 class="errorMsgEmpty" *ngIf="accountMin">{{"accountMin"| translate}}</h4>
                    <h4 class="errorMsgEmpty" *ngIf="accountMax">{{"accountMax"| translate}}</h4>
                    <h4 class="errorMsgEmpty" *ngIf="passwordMin">{{"passwordMin"| translate}}</h4>
                    <h4 class="errorMsgEmpty" *ngIf="passwordMax">{{"passwordMax"| translate}}</h4>
                    <h4 class="errorMsgEmpty" *ngIf="passwordMatch">{{"passwordMatch"| translate}}</h4>
                </div>
                <div class="col-4"></div>
            </div> -->
            <div class="row padTop1rem text-center" *ngIf="!isCallAPI">
                <div class="col-2"></div>
                <div class="col-4">
                    <button type="button" class="btnNo" (click)="SetIdPasswordNo()">{{"back"| translate}}</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btnYes" (click)="SetIdPasswordYes()">{{"continue"| translate}}</button>
                </div>
            </div>
            <div class="row padTop1rem" *ngIf="isCallAPI">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                </div>
            </div>
        </div>
        <div class="row padTopHalfrem content-container" *ngIf="ActivateiAkaunPage">
            <div class="row padTop1rem">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"onlineImage"|translate}} </label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col" *ngFor="let ci of checkboxImages">
                            <input type="radio" id="{{ci.imgId}}" [checked]="ci.checked" [hidden]="true"/>
                            <label class="selectLabel" for="{{ci.imgId}}" (click)="clickImage(ci.imgId)">
                                <img class="imgOnline" src="{{ci.imgPath}}">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <h4 class="errorMsgEmpty" *ngIf="imageSelect">{{"imageSelect"| translate}}</h4>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row padTop1rem">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"onlineImage"|translate}} </label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="akaunNote">
                            {{ "AkaunNotes" | translate }}<br>
                            {{ "AkaunNotes2" | translate }}
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row padTop1rem">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"passphrase"|translate}} </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <input type="text" target="needed" required class="use-keyboard-input txtProfile" id="txtSecurePhrase" name="securePhrase" value="{{ securePhrase }}" #secure_phrase>
                    </div>
                </div>
                <div class="col-3">
                    <div class="akaunNoteSmall">
                        {{"phraseNotice"|translate}}<br>
                        {{"phraseSample"|translate}}
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <h4 class="errorMsgEmpty" *ngIf="securePhraseMax">{{"securePhraseMax"| translate}}</h4>
                    <h4 class="errorMsgEmpty" *ngIf="emptySecret">{{"emptySecret"| translate}}</h4>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row padTop1rem text-center" *ngIf="!isCallAPI">
                <div class="col-2"></div>
                <div class="col-4">
                    <button type="button" class="btnNo" (click)="ActivateInformationNo()">{{"back"| translate}}</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btnYes" (click)="ActivateInformationYes()">{{"continue"| translate}}</button>
                </div>
            </div>
            <div class="row padTop1rem" *ngIf="isCallAPI">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                </div>
            </div>
        </div>

        <div class="row padTop2rem content-container" *ngIf="ActivateSuccessPage">
            <div class="text-center">
                <div class="row">
                    <div class="lblCongrats">
                        {{"congrats"| translate}}
                        <img src="assets/images/Icon-Berjaya.svg" class="imgGratz">
                    </div>
                </div>
                <div class="row padTop2rem">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="ThumbprintMsg">
                            {{"iAkaunSuccess"| translate}}
                        </div>
                    </div>
                </div>
                <div class="row padTopHalfrem">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="ThumbprintMsg">
                            {{"scanQR"| translate}}
                        </div>
                    </div>
                </div>
                <div class="row padTopHalfrem">
                    <img src="assets/images/qr-code.svg" width="300" height="300">
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="ActivateSuccessYes()">{{"next"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop15rem content-container" *ngIf="PickShariahPage">
            <div class="text-center">
                <div class="lblHeader">
                    {{"ShariahMsg"| translate}}
                </div>
                <div class="row padTop5rem" *ngIf="!isCallAPI">
                    <div class="col-6">
                        <button type="button" class="btnShariah" (click)="IShariahNo()" *ngIf="isiSaraanModuleEnabled">{{"remain"| translate}}</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btnShariah" (click)="IShariahYes()" *ngIf="isiShariahModuleEnabled">{{"newShariah"| translate}}</button>
                    </div>
                </div>
                <div class="row padTop5rem" *ngIf="isCallAPI">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop2rem content-container" *ngIf="ShariahTnCPage">
            <div class="row text-center">
                <label class="lblHeader">
                    {{"ShariahTitle"| translate}}
                </label>
            </div>
            <div class="row text-center">
                <div class="col-1"></div>
                <div class="col-10">
                    <label class="lblWarning">
                        {{"ShariahWarning"| translate}}
                    </label>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row text-center padTopHalfrem">
                <div class="col-1"></div>
                <div class="col-10 scrollBox">
                    <div class="scroll contract" #contract>
                        <input class="regular-checkbox big-checkbox padTop3rem" id="tnc" name="tnc" type="checkbox" (click)="clickTNC2()">
                        <label class="lblTNC" for="tnc">{{"TNC"| translate}}</label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row text-center">
                <div class="row padTop2rem" *ngIf="!isCallAPI">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="ShariahTnCNo()">{{"back"|translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" [ngClass]="xagreedTnc2 == false ? 'btnYes' : 'btnYesDisabled'" (click)="ShariahTnCYes()" [disabled]="xagreedTnc2">{{"agree"|translate}}</button>
                    </div>
                </div>
                <div class="row padTop5rem" *ngIf="isCallAPI">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="ShariahSuccessPage">
            <div class="text-center">
                <div class="lblStatus">
                    {{"success"| translate}}
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/Icon-Berjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{"successShariah"|translate}}</div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="ShariahSuccessYes()">{{"yes"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="RegisteriSaraanPage">
            <div class="text-center">
                <div class="lblHeader">
                    {{"saraanMsg"| translate}}
                </div>
                <div class="row padTop5rem">
                    <div class="col-6">
                        <button type="button" class="btnShariah" (click)="RegisteriSaraanNo()">{{"no"| translate}}</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btnShariah" (click)="RegisteriSaraanYes()">{{"yes"| translate}}</button>
                    </div>
                </div>
                    <img src="assets/images/iSaraan Banner.png" class="banner padTop6rem">
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="SelectJobPage">
            <div class="text-center">
                <div class="lblHeader">
                    {{"jobMsg"|translate}}
                </div>
                <div class="row padTopHalfrem">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="jobDDL" data-bs-toggle="dropdown" aria-expanded="false">
                                {{defaultDDL | translate}}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li *ngFor="let js of jobSectors">
                                    <a class="dropdown-item" (click)="selectJob(js)">
                                        {{ js.code | translate}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row padTop25rem" *ngIf="!isCallAPI">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="SelectJobNo()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="SelectJobYes()">{{"send"| translate}}</button>
                    </div>
                </div>
                <div class="row padTop25rem" *ngIf="isCallAPI">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="SaraanSuccessPage">
            <div class="text-center">
                <div class="lblStatus">
                    {{"success"| translate}}
                </div>
                <div class="row padTop5rem">
                    <img src="assets/images/Icon-Berjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{"successSaraan"|translate}}</div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="SaraanSuccessYes()">{{"yes"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="Failed">
            <div class="text-center">
                <div class="lblStatus">
                    {{"fail"| translate}}
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/Icon-TidakBerjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{errorDesc | translate}}</div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="failedYes()">{{"continue"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>