<div class="bg-img" style="background: url('assets/images/BG.png'); background-size: 1368px 850px;">
    <div class="header" *ngIf="RegSaraanShariah">{{ "sariah" | translate }}</div>
    <div class="header" *ngIf="RegShariah">{{"registerShariah" | translate}}</div>
    <div class="header" *ngIf="RegSaraan">{{"registerSaraan"|translate}}</div>

    <div class="container-fluid">

        <div class="row padTop15rem content-container" *ngIf="SelectIShariahISaraan">
            <div class="text-center">
                <div class="lblHeader">
                    {{"select"| translate}}
                </div>
                <div class="row padTop5rem" *ngIf="!isCallAPI">
                    <div class="col-6">
                        <button [disabled]="!iSaraanEnabled" [ngClass]="iSaraanEnabled == true ? 'btnShariah' : 'btnShariahDisabled'" (click)="clickSaraan()">{{"saraan"| translate}}</button>
                    </div>
                    <div class="col-6">
                        <button [disabled]="!iShariahEnabled" [ngClass]="iShariahEnabled == true ? 'btnShariah' : 'btnShariahDisabled'" (click)="clickShariah()">{{"shariah"| translate}}</button>
                    </div>
                </div>
                <div class="row padTop5rem" *ngIf="isCallAPI">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                    </div>
                </div>
                <div class="row padTop10rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnNo" (click)="SelectSaraanShariahNo()">{{"back"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="ISaraan">
            <div class="text-center">
                <div class="lblHeader">
                    {{"jobMsg"|translate}}
                </div>
                <div class="row padTopHalfrem">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="jobDDL" data-bs-toggle="dropdown" aria-expanded="false">
                                {{defaultDDL | translate}}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li *ngFor="let js of jobSectors">
                                    <a class="dropdown-item" (click)="selectJob(js)">
                                        {{ js.code | translate }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row padTop20rem" *ngIf="!isCallAPI">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="ISaraanNo()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="ISaraanYes()">{{"send"| translate}}</button>
                    </div>
                </div>
                <div class="row padTop20rem" *ngIf="isCallAPI">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="ISaraanSuccess">
            <div class="text-center">
                <div class="lblStatus">
                    {{"success"| translate}}
                </div>
                <div class="row padTop2rem">
                    <img src="assets/images/Icon-Berjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{"successSaraan"|translate}}</div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="ISaraanSuccessYes()">{{"yes"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop2rem content-container" *ngIf="IShariah">
            <div class="row text-center">
                <label class="lblHeader">
                    {{"ShariahTitle"| translate}}
                </label>
            </div>
            <div class="row text-center">
                <div class="col-1"></div>
                <div class="col-10">
                    <label class="lblWarning">
                        {{"ShariahWarning"| translate}}
                    </label>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row text-center padTopHalfrem">
                <div class="col-1"></div>
                <div class="col-10 scrollBox">
                    <div class="scroll contract" #contract>
                        <input class="regular-checkbox big-checkbox padTop3rem" id="tnc" name="tnc" type="checkbox" (click)="clickTNC()">
                        <label class="lblTNC" for="tnc">{{"TNC"| translate}}</label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row text-center">
                <div class="row padTop2rem" *ngIf="!isCallAPI">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="IShariahNo()">{{"back"|translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="IShariahYes()" [disabled]="xagreedTnc">{{"agree"|translate}}</button>
                    </div>
                </div>
                <div class="row padTop2rem" *ngIf="isCallAPI">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="IShariahSuccess">
            <div class="text-center">
                <div class="lblStatus">
                    {{"success"| translate}}
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/Icon-Berjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{"successShariah"|translate}}</div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="IShariahSuccessYes()">{{"yes"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="Failed">
            <div class="text-center">
                <div class="lblStatus">
                    {{"fail"| translate}}
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/Icon-TidakBerjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{"ActionFailed"|translate}}</div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="failedYes()">{{"continue"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
