<div class="bg-img">
    <div class="header" *ngIf="RegSaraanShariah">{{ "sariah" | translate }}</div>
    <div class="header" *ngIf="RegShariah">{{"registerShariah" | translate}}</div>
    <div class="header" *ngIf="RegSaraan">{{"registerSaraan"|translate}}</div>

    <div class="container-fluid">

        <div class="row padTop30rem" *ngIf="page1">
            <div class="text-center">
                <div class="lblHeader">
                    {{"select"| translate}}
                </div>
                <div class="row padTop10rem">
                    <div class="col-6">
                        <button type="button" class="btnShariah">{{"saraan"| translate}}</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btnShariah">{{"shariah"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop10rem" *ngIf="page2">
            <div class="text-center">
                <div class="lblHeader">
                    {{"jobMsg"|translate}}
                </div>
                <div class="row padTop3rem">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="jobDDL"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{"default"|translate}}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">{{"agriculture"|translate}}</a></li>
                                <li><a class="dropdown-item" href="#">{{"retired"|translate}}</a></li>
                                <li><a class="dropdown-item" href="#">{{"business"|translate}}</a></li>
                                <li><a class="dropdown-item" href="#">{{"aquaculture"|translate}}</a></li>
                                <li><a class="dropdown-item" href="#">{{"transport"|translate}}</a></li>
                                <li><a class="dropdown-item" href="#">{{"sales"|translate}}</a></li>
                                <li><a class="dropdown-item" href="#">{{"artist"|translate}}</a></li>
                                <li><a class="dropdown-item" href="#">{{"housewife"|translate}}</a></li>
                                <li><a class="dropdown-item" href="#">{{"prof"|translate}}</a></li>
                                <li><a class="dropdown-item" href="#">{{"service"|translate}}</a></li>
                                <li><a class="dropdown-item" href="#">{{"gig"|translate}}</a></li>
                                <li><a class="dropdown-item" href="#">{{"other"|translate}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row padTop50rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes">{{"send"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop10rem" *ngIf="page3">
            <div class="text-center">
                <div class="lblStatus">
                    {{"success"| translate}}
                </div>
                <div class="row padTop5rem">
                    <img src="assets/images/Icon-Berjaya.svg" width="500" height="450">
                </div>
                <div class="row padTop10rem">
                    <div class="statusMsg">{{"successSaraan"|translate}}</div>
                </div>
                <div class="row padTop15rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes">{{"yes"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem" *ngIf="page4">
            <div class="row text-center">
                <label class="lblHeader">
                    {{"ShariahTitle"| translate}}
                </label>
            </div>
            <div class="row text-center">
                <div class="col-1"></div>
                <div class="col-10">
                    <label class="lblWarning">
                        {{"ShariahWarning"| translate}}
                    </label>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row text-center padTop3rem">
                <div class="col-1"></div>
                <div class="col-10 scrollBox">
                    <div class="scroll">
                        <p>
                            It is a good platform to learn programming.
                            It is an educational website. Prepare for the Recruitment drive
                            of product based companies like Microsoft, Amazon, Adobe etc with
                            a free online placement preparation course. The course focuses
                            on various MCQ's & Coding question likely to be asked in the
                            interviews & make your upcoming placement season efficient and
                            successful. Also, any geeks can help other geeks by writing
                            articles on the GeeksforGeeks, publishing articles follow few
                            steps that are Articles that need little modification/improvement
                            from reviewers are published first. To quickly get your articles
                            reviewed, please refer existing articles, their formatting style,
                            coding style, and try to make you are close to them. In case you
                            are a beginner, you may refer Guidelines to write an Article
                            It is a good platform to learn programming.
                            It is an educational website. Prepare for the Recruitment drive
                            of product based companies like Microsoft, Amazon, Adobe etc with
                            a free online placement preparation course. The course focuses
                            on various MCQ's & Coding question likely to be asked in the
                            interviews & make your upcoming placement season efficient and
                            successful. Also, any geeks can help other geeks by writing
                            articles on the GeeksforGeeks, publishing articles follow few
                            steps that are Articles that need little modification/improvement
                            from reviewers are published first. To quickly get your articles
                            reviewed, please refer existing articles, their formatting style,
                            coding style, and try to make you are close to them. In case you
                            are a beginner, you may refer Guidelines to write an Article
                            It is a good platform to learn programming.
                            It is an educational website. Prepare for the Recruitment drive
                            of product based companies like Microsoft, Amazon, Adobe etc with
                            a free online placement preparation course. The course focuses
                            on various MCQ's & Coding question likely to be asked in the
                            interviews & make your upcoming placement season efficient and
                            successful. Also, any geeks can help other geeks by writing
                            articles on the GeeksforGeeks, publishing articles follow few
                            steps that are Articles that need little modification/improvement
                            from reviewers are published first. To quickly get your articles
                            reviewed, please refer existing articles, their formatting style,
                            coding style, and try to make you are close to them. In case you
                            are a beginner, you may refer Guidelines to write an Article
                        </p>
                        <input class="regular-checkbox big-checkbox padTop3rem" id="tnc" name="tnc" type="checkbox">
                        <label class="lblTNC" for="tnc">{{"TNC"| translate}}</label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row text-center">
                <div class="row padTop5rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo">{{"back"|translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes">{{"agree"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop10rem" *ngIf="page5">
            <div class="text-center">
                <div class="lblStatus">
                    {{"success"| translate}}
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/Icon-Berjaya.svg" width="500" height="450">
                </div>
                <div class="row padTop10rem">
                    <div class="statusMsg">{{"successShariah"|translate}}</div>
                </div>
                <div class="row padTop15rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes">{{"yes"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
