<div class="bg-img">
    <div class="header" *ngIf="insertCard">{{"MyKadVerification" | translate}}</div>
    <div class="header" *ngIf="Language">{{"language" | translate}}</div>
    <div class="header" *ngIf="Thumbprint">{{"fingerprint" | translate}}</div>
    <div class="header" *ngIf="removeCard">{{"removeCard" | translate}}</div>

    <div class="container-fluid">
        <div class="row padTop10rem" *ngIf="page1">
            <div class="text-center">
                <div class="lblHeader">
                    Sila masukkan MyKad anda<br>
                    Please insert your MyKad
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/insert-mykad.svg" width="800px" height="800px">
                </div>
            </div>
        </div>

        <div class="row padTop25rem" *ngIf="page2">
            <div class="text-center">
                <div class="row">
                    <div class="lblHeader">
                        {{"select"|translate}}<br>
                        {{"selectEN"|translate}}
                    </div>
                </div>
                <!-- justify-content-between -->
                <div class="row padTop10rem">
                    <div class="col-6">
                        <button type="button" class="btnShariah">Bahasa Malaysia</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btnShariah">English</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop10rem" *ngIf="page3">
            <div class="text-center">
                <div class="lblHeader">
                    {{"placeThumbprint"|translate}}
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/thumbprint.svg" width="800px" height="800px">
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnNo">{{"cancel"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop10rem" *ngIf="page4">
            <div class="text-center">
                <div class="lblHeader">
                    {{"removeCardMsg"|translate}}
                </div>
                <div class="row padTop5rem">
                    <div class="col-2"></div>
                    <div class="col-8 lblRemove">
                        {{"removeMsg"|translate}}
                    </div>
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/remove-mykad.svg" width="800px" height="800px">
                </div>
            </div>
        </div>

    </div>
</div>
<!-- <button (click)="loadPage2()">Page2</button>
<div class="col-12" *ngIf="page1">
    <p>Page1</p>
</div>

<div class="col-md-12" *ngIf="page2">
    <p>Page2</p>
</div> -->
