<div class="bg-img" style="background: url('assets/images/BG.png'); background-size: 1368px 860px;">
    <div class="header" *ngIf="insertCard">{{"MyKadVerification" | translate}}</div>
    <div class="header" *ngIf="Language">{{"language" | translate}}</div>
    <div class="header" *ngIf="Thumbprint">{{"fingerprint" | translate}}</div>
    <div class="header" *ngIf="removeCard">{{"removeCard" | translate}}</div>

    <div class="container-fluid">
        <div class="row padTop5rem content-container" *ngIf="InsertMyKad">
            <div class="text-center">
                <div class="lblHeader">
                    Sila masukkan MyKad anda<br>
                    Please insert your MyKad<br>
                </div>
                <div class="row">
                    <img src="assets/images/insert-mykad.svg" width="400px" height="400px">
                </div>
                <div class="lblHeader padTop3rem">
                    <h5 style="color:red;">Mesin ini tidak mempunyai fungsi cetakan penyata.</h5>
                    <h5 style="color:red;">This machine does not print statements.</h5>
                </div>
            </div>
        </div>

        <div class="row padTop10rem content-container" *ngIf="SelectLanguage">
            <div class="text-center">
                <div class="row">
                    <div class="lblHeader">
                        Sila Pilih<br>
                        Please Select
                    </div>
                </div>
                <!-- justify-content-between -->
                <div class="row padTop10rem">
                    <div class="col-6">
                        <button type="button" class="btnShariah" (click)="selectBM()">Bahasa Malaysia</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btnShariah" (click)="selectEN()">English</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="ReadThumbprint">
            <div class="text-center">
                <div class="lblHeader">
                    {{"placeThumbprint"|translate}}
                </div>
                <div class="row padTopHalfrem">
                    <img src="assets/images/thumbprint.svg" width="400px" height="400px">
                </div>
                <div class="row padTopHalfrem" *ngIf="BeforeRead">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnNo" (click)="cancelMyKadVerification()">{{"cancel"|translate}}</button>
                    </div>
                </div>
                <div class="row padTop5rem" *ngIf="AfterRead">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="RemoveMyKad">
            <div class="text-center">
                <div class="lblHeader">
                    {{"removeCardMsg"|translate}}
                </div>
                <div class="row padTop2rem">
                    <div class="col-2"></div>
                    <div class="col-8 lblRemove">
                        {{"removeMsg"|translate}}
                    </div>
                </div>
                <div class="row padTopHalfrem">
                    <img src="assets/images/remove-mykad.svg" width="400px" height="400px">
                </div>
            </div>
        </div>

        <div class="bg-popup" *ngIf="ErrorPop">
            <div class="pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center" *ngIf="thumbprintError">
                <h2 class="padTop15rem">{{'VerifyFailedMessage' | translate }}</h2>
                <h2 *ngIf="xlastTry">{{'RetryMessage' | translate }}</h2>
                <footer class="padTop12rem footer">
                    <div class="col-12">
                        <button type="button" class="btnNo" (click)="cancelMyKadVerification()">
                            {{'End' | translate }}
                        </button>
                        <button type="button" class="btnYes" (click)="TryAgain()" *ngIf="xlastTry">
                            {{'TryAgain' | translate }}
                        </button>
                    </div>
                </footer>
            </div>

            <div class="pop-up shadow p-3 mb-5 bg-white rounded-2rem" align="center" *ngIf="!thumbprintError">
                <img style="margin-top: 2rem;" src="assets/images/noPrinting.jpeg" width="150" height="150">
                <h3  class="padTop5rem">Mesin ini tidak mempunyai fungsi cetakan penyata.</h3>
                <h3>Adakah anda ingin meneruskan?</h3>
                <br>
                <h3>This machine does not print statements.</h3>
                <h3>Would you like to proceed/continue?</h3>
                <footer class="padTop5rem footer">
                    <div class="col-12">
                        <button type="button" class="btnNo" (click)="disagreeProceed()">
                            Tidak / No
                        </button>
                        <button type="button" class="btnYes" (click)="agreeProceed()">
                            Ya / Yes
                        </button>
                    </div>
                </footer>
            </div>
        </div> 
        
    </div>
</div>
