<div class="bg-img">
  <div class="header">{{ "menu" | translate }}</div>
  <div class="container-fluid">
    <div class="row padTop15rem">
        <div class="text-center">
            <div class="lblHeader">
                Hi Muhammad Wahyu Nizam Bin Omir,<br>
                sila pilih menu:
            </div>
            <div class="row padTop5rem">
              <div class="col-6">
              <img src="assets/images/Semak-Baki-Simpanan.svg" width="800px" height="200" (click)="checkBalance()">
            </div>
            <div class="col-6">
              <img src="assets/images/Maklumat-Peribadi.svg" width="800px" height="200" (click)="personalInformation()">
            </div>
          </div>
          <div class="row padTop5rem">
            <div class="col-6">
            <img src="assets/images/Kemaskinian-Mobile-TAC.svg" width="800px" height="200" (click)="updateTAC()">
          </div>
          <div class="col-6">
            <img src="assets/images/Pendaftaran-ISaraan-Simpanan-Shariah.svg" width="800px" height="200" (click)="iSaraanRegistrationShariahSavings()">
          </div>
        </div>
        <div class="row padTop5rem">
          <div class="col-6">
          <img src="assets/images/Pengesahan-Cap-Ibu-Jari.svg" width="800px" height="200" (click)="thumbprintConfirmation()">
        </div>
        <div class="col-6">
          <img src="assets/images/Maklumat-Peribadi.svg" width="800px" height="200" (click)="iAkaunRegistration()">
        </div>
      </div>
        </div>
    </div>
  </div>
</div>