<div class="bg-img">
  <div class="row container-fluid">
    <div class="col-8">
      <div class="header">{{ "menu" | translate }}</div>
    </div>
    <div class="col-3">
      <button type="button" class="btnHeader" (click)="selectBM()">{{"bm"|translate}}</button>
      <button type="button" class="btnHeader" (click)="selectEN()">{{"en"|translate}}</button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row padTop10rem">
      <div class="text-center">
        <div class="lblHeader">
          Hi {{name}},<br>
          {{"pleaseChoose"|translate}}
        </div>
        <div class="row padTop5rem">
          <div class="col-6">
            <button [ngClass]="checkBalanceEnabled == true ? 'mainMenuBtn' : 'mainMenuBtnDisabled'" (click)="checkBalance()">
              <div class="row">
                <div class="col-3 menuItemBorder">
                  <div class="centerItem">
                    <img src="assets/images/Icon-Semak-Baki-Simpanan.svg" width="90px" height="90px">
                  </div>
                </div>
                <div class="col-8 menuItemBorder">
                  <div class="centerItem">
                    {{"checkBalance"|translate}}
                  </div>
                </div>
                <div class="col-1 menuItemBorder"></div>
              </div>
            </button>
          </div>
          <div class="col-6">
            <!-- <img src="assets/images/Maklumat-Peribadi.svg" width="800px" height="200" (click)="personalInformation()"> -->
            <button [ngClass]="personalInformationEnabled == true ? 'mainMenuBtn' : 'mainMenuBtnDisabled'" (click)="personalInformation()">
              <div class="row">
                <div class="col-1 menuItemBorder"></div>
                <div class="col-8 menuItemBorder">
                  <div class="centerItem">
                    {{"personalInfo"|translate}}
                  </div>
                </div>
                <div class="col-3 menuItemBorder">
                  <div class="centerItem">
                    <img src="assets/images/Icon-Maklumat-Peribadi.svg" width="90px" height="90px">
                  </div>
                </div>
              </div>
            </button>
          </div>
        </div>
        <div class="row padTop5rem">
          <div class="col-6">
            <button [ngClass]="updateTACEnabled == true ? 'mainMenuBtn' : 'mainMenuBtnDisabled'" (click)="updateTAC()">
              <div class="row">
                <div class="col-3 menuItemBorder">
                  <div class="centerItem">
                    <img src="assets/images/Icon-Kemaskinian-Mobile-TAC.svg" width="90px" height="90px">
                  </div>
                </div>
                <div class="col-8 menuItemBorder">
                  <div class="centerItem">
                    {{"UpdateTAC"|translate}}
                  </div>
                </div>
                <div class="col-1 menuItemBorder"></div>
              </div>
            </button>
          </div>
          <div class="col-6">
            <button [ngClass]="iShariahiSaraanEnabled == true ? 'mainMenuBtn' : 'mainMenuBtnDisabled'" (click)="iSaraanRegistrationShariahSavings()">
              <div class="row">
                <div class="col-1 menuItemBorder"></div>
                <div class="col-8 menuItemBorder">
                  <div class="centerItem">
                    {{"sariah"|translate}}
                  </div>
                </div>
                <div class="col-3 menuItemBorder">
                  <div class="centerItem">
                    <img src="assets/images/Icon-Pendaftaran-ISaraan-Simpanan-Shariah.svg" width="90px" height="90px">
                  </div>
                </div>
              </div>
            </button>
          </div>
        </div>
        <div class="row padTop5rem">
          <div class="col-6">
            <button class="mainMenuBtnDisabled" (click)="thumbprintConfirmation()" [disabled]="true">
              <div class="row">
                <div class="col-3 menuItemBorder">
                  <div class="centerItem">
                    <img src="assets/images/Icon-Pengesahan-Cap-Ibu-Jari.svg" width="90px" height="90px">
                  </div>
                </div>
                <div class="col-8 menuItemBorder">
                  <div class="centerItem">
                    {{"thumbprint"|translate}}
                  </div>
                </div>
                <div class="col-1 menuItemBorder"></div>
              </div>
            </button>
          </div>
          <div class="col-6">
            <!-- (click)="iAkaunRegistration()" -->
            <button [ngClass]="iAkaunEnabled == true ? 'mainMenuBtn' : 'mainMenuBtnDisabled'" (click)="iAkaunRegistration()"> 
              <div class="row">
                <div class="col-1 menuItemBorder"></div>
                <div class="col-8 menuItemBorder">
                  <div class="centerItem">
                    {{"i-Akaun"|translate}}
                  </div>
                </div>
                <div class="col-3 menuItemBorder">
                  <div class="centerItem">
                    <img src="assets/images/Icon-Pendaftaran-IAkaun.svg" width="90px" height="90px">
                  </div>
                </div>
              </div>
            </button>
          </div>
        </div>
        <div class="row padTop15rem">
          <div class="col-1"></div>
          <div class="col-5 mainMenuLeft">
            <img src="assets/images/Icon-Date-Time.svg" width="70px" height="70px">
            <label class="lblDate2">{{date}}</label>
          </div>
          <div class="col-5 mainMenuRight" (click)="logOut()">
            <label class="lblLogout">{{"logout"|translate}}</label>
            <img src="assets/images/Icon-Logout.svg" width="80px" height="80px">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>