
.bg-img{
    min-height: 100vh;
    width: 100%;
    background: url('/assets/images/BG.png') no-repeat scroll right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    padding: 70px;
    text-align: left;
    color: white;
    font-size: 70px;
    font-family: filson-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.center{
    text-align: center;
    font-size: 60px;
    font-family: filson-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rgb(49, 39, 131);
    padding-top: 100px;
}

.padTop3rem{
    padding-top: 3rem;
}

.padTop5rem{
    padding-top: 5rem;
}

.padTop10rem{
    padding-top: 10rem;
}

.padTop20rem{
    padding-top: 20rem;
}

#phoneNo{
    border-width: thin;
    width: 39rem;
    height: 6rem;
    font-size: 3rem;
    font-weight: 700;
    margin-left:1rem;
}

.keypad{
    background-color: rgb(90, 82, 157);
    color: white;
    font-size: 50px;
    font-family: filson-pro, sans-serif;
    margin: 10px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    font-weight: 800;
}
.keypadPadan{
    background-color: rgb(90, 82, 157);
    color: white;
    font-size: 50px;
    font-family: filson-pro, sans-serif;
    margin: 10px;
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    font-weight: 800;
}

.example{
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    padding-left: 2rem;
    color: rgb(49, 39, 131);
}

.local{
    text-align:center;
    font-size: 40px;
    font-family: filson-pro, sans-serif;
    font-style:normal;
    font-weight:bold;
    color: rgb(49, 39, 131);
    padding-top: 50px; 
    display: inline;
}
.inter{
    text-align:end;
    font-size: 40px;
    font-family: filson-pro, sans-serif;
    font-style:normal;
    font-weight:bold;
    color: rgb(49, 39, 131);
    padding-top: 50px; 
    display: inline;
}

#chkLocal{
    margin-top: 30px; 
    margin-right:20px
}

#chkInter{
    margin-top: 30px; 
    margin-right:20px
}

.choice{
    display: inline;
    font-size: 40px;
}

.note{
    font-size:37px;
    font-weight: 200;
    background-color: rgb(214, 212, 230);
    font-family: filson-pro, sans-serif;
}

.Cancel{
    text-align: start;
    display: inline;
}

.Proceed{
    text-align: end;
    display: inline;
}

.btnLang{
    background-color: rgb(49, 39, 131);
    border-color: rgb(49, 39, 131);
    color: white;
    font-family: filson-pro, sans-serif;
    border-radius: 150px;
    font-size:60px;
    min-width: 1000px;
    min-height: 180px;
}

.lblChoose{
    text-align: center;
    font-size: 60px;
    font-family: filson-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rgb(49, 39, 131);
    padding-top: 100px;
    margin-top:300px;
}

.testBorder{
    border: 1px solid;
}

.lblQuestion
{
    font-size: 60px;
    font-family: filson-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rgb(49, 39, 131);
    width: max-content;
}

.lblHeader
{
    font-size: 60px;
    font-family: filson-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rgb(49, 39, 131);
}

.lblReg{
    font-size: 40px;
    font-family: filson-pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(49, 39, 131);
    text-align: left;
    margin-top: 2rem;
}

.lblInfo{
    font-size: 40px;
    font-family: filson-pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: black;
    text-align: left;
    margin-top: 2rem;
}

.btnYes{
    background-color: rgb(49, 39, 131);;
    border-color: rgb(49, 39, 131);
    color: white;
    font-family: filson-pro, sans-serif;
    border-width: 4px;
    border-radius: 150px;
    font-size: 55px;
    min-width: 600px;
    font-weight: 600;
    min-height: 150px;
}

.btnNo{
    background-color: white;
    border-color: rgb(49, 39, 131);
    color: rgb(49, 39, 131);
    font-family: filson-pro, sans-serif;
    border-width: 4px;
    border-radius: 150px;
    font-size: 55px;
    min-width: 600px;
    font-weight: 600;
    min-height: 150px;
}

#emailDDL{
    border-width: thin;
    width: 41rem;
    height: 6rem;
    font-size: 3rem;
    font-weight: 700;
    margin-left: -4rem;
}

.lblSymbol{
    font-size: 60px;
    font-family: filson-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rgb(49, 39, 131);
}

.lblKWSP{
    color: black;
    font-size: 125px;
    font-family: filson-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.lblMsg{
    font-size: 60px;
    font-family: filson-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rgb(49, 39, 131);
    width: 95rem;
    margin-left: -5rem;
}
