<div class="bg-img" style="background: url('assets/images/BG.png'); background-size: 1368px 850px;">
    <div class="header">{{ "thumbprint" | translate }}</div>

    <div class="container-fluid">
        <div class="row padTop10rem content-container" *ngIf="page1">

            <div class="text-center">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="ThumbprintMsg">
                            {{"thumprintMsg"| translate}}
                        </div>
                    </div>
                </div>
                <div class="row padTop15rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page1no()">{{"disagree"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page1yes()">{{"agree"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop2rem" *ngIf="page2">
            <div class="text-center">
                <div class="lblHeader">
                    {{"thumbprintListMsg"| translate}}
                </div>
                <div class="row padTop2rem">
                    <div class="col-1"></div>
                    <div class="col-5">
                        <button type="button" class="btnThumbprint">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        {{"ansuran"| translate}}
                                    </div>
                                    <div class="row">
                                        <label class="lblDate">08 Jan 2022</label>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <input class="regular-checkbox big-checkbox marginTopOneHalfrem" type="checkbox" value="" (click)="checkAnsuran()">
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-5">
                        <button type="button" class="btnThumbprint">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        {{"bina"| translate}}
                                    </div>
                                    <div class="row">
                                        <label class="lblDate">08 Jan 2022</label>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <input class="regular-checkbox big-checkbox marginTopOneHalfrem" type="checkbox" value="" (click)="checkBina()">
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="row padTopHalfrem">
                    <div class="col-1"></div>
                    <div class="col-5">
                        <button type="button" class="btnThumbprint">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        {{"50yo"| translate}}
                                    </div>
                                    <div class="row">
                                        <label class="lblDate">08 Jan 2022</label>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <input class="regular-checkbox big-checkbox marginTopOneHalfrem" type="checkbox" value="" (click)="check50yo()">
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-5">
                        <button type="button" class="btnThumbprint">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        {{"education"| translate}}
                                    </div>
                                    <div class="row">
                                        <label class="lblDate">08 Jan 2022</label>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <input class="regular-checkbox big-checkbox marginTopOneHalfrem" type="checkbox" value="" (click)="checkEducation()">
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="row padTopHalfrem">
                    <div class="col-1"></div>
                    <div class="col-5">
                        <button type="button" class="btnThumbprint">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        {{"1mil"| translate}}
                                    </div>
                                    <div class="row">
                                        <label class="lblDate">08 Jan 2022</label>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <input class="regular-checkbox big-checkbox marginTopOneHalfrem" type="checkbox" value="" (click)="check1mil()">
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-5">
                        <button type="button" class="btnThumbprint">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        {{"55yo"| translate}}
                                    </div>
                                    <div class="row">
                                        <label class="lblDate">08 Jan 2022</label>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <input class="regular-checkbox big-checkbox marginTopOneHalfrem" type="checkbox" value="" (click)="check55yo()">
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="row padTop2rem">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="note">
                            {{"thumbprintNotes"|translate}}
                        </div>
                    </div>
                </div>
                <div class="row padTop2rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page2no()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page2yes()">{{"proceed"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop7rem" *ngIf="page3">
            <div class="text-center">
                <div class="lblHeader">
                    {{"placeThumbprint"|translate}}
                </div>
                <div class="row padTopHalfrem">
                    <img src="assets/images/thumbprint.svg" width="400px" height="400px" (click)="skip()">
                </div>
                <div class="row padTopHalfrem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnNo" (click)="page3no()">{{"cancel"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row padTop5rem" *ngIf="page4">
            <div class="text-center">
                <div class="lblHeader">
                    {{"success"| translate}}
                </div>
                <div class="padTop2rem">
                    <button type="button" class="btnThumbprint">
                        <div class="row">
                            <div class="col-8">
                                {{"ansuran"| translate}}
                            </div>
                            <div class="col-2"></div>
                            <div class="col-2">
                                <input class="regular-checkbox big-checkbox marginTop2rem" type="checkbox" value="">
                            </div>
                        </div>
                    </button>
                </div>
                <div class="padTopHalfrem">
                    <button type="button" class="btnThumbprint">
                        <div class="row">
                            <div class="col-8">
                                {{"bina"| translate}}
                            </div>
                            <div class="col-2"></div>
                            <div class="col-2">
                                <input class="regular-checkbox big-checkbox" type="checkbox" value="">
                            </div>
                        </div>
                    </button>
                </div>
                <div class="row padTop7rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page4no()">{{"endTrasaction"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page4yes()">{{"menu"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bg-popup" *ngIf="popup">
            <div class="pop-up">
                <div class="row text-center padTop10rem">
                    <div class="col-12">
                        <img src="assets/images/Icon-Attention.svg" width="500" height="450">
                    </div>
                </div>
                <div class="row text-center padTop5rem">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <label class="lblPopup">{{"didNotSelectPopUp1"| translate}}</label>
                        <label class="lblPopup" *ngIf="!checkedAnsuran">{{"MonthlyHousingLoan"| translate}},</label>
                        <label class="lblPopup" *ngIf="!checkedBina">{{"HouseBuilding"| translate}},</label>
                        <label class="lblPopup" *ngIf="!checked50yo">{{"50YearsOld"| translate}},</label>
                        <label class="lblPopup" *ngIf="!checkedEducation">{{"Enducation"| translate}},</label>
                        <label class="lblPopup" *ngIf="!checked55yo">{{"55YearsOld"| translate}},</label>
                        <label class="lblPopup" *ngIf="!checked1mil">{{"SavingsMoreThanMillion"| translate}}</label>
                        <label class="lblPopup">{{"didNotSelectPopUp2"| translate}}</label>
                        <label class="lblPopup">31 Dec 2021</label>
                        <label class="lblPopup">{{"didNotSelectPopUp3"| translate}}</label>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row text-center padTop10rem padBottom5rem">
                    <div class="col-12">
                        <button type="button" class="btnPopUp text-center" (click)="popupYes()">{{"yes"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>