<div class="bg-img" style="background: url('assets/images/BG.png'); background-size: 1368px 850px;">
    <div class="header">{{ "thumbprint" | translate }}</div>

    <div class="container-fluid">
        <div class="row padTop10rem content-container" *ngIf="ThumbprintAgreeDisagree">

            <div class="text-center">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="ThumbprintMsg">
                            {{"thumprintMsg"| translate}}
                        </div>
                    </div>
                </div>
                <div class="row padTop15rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="ThumbprintAgreeDisagreeNo()">{{"disagree"|
                            translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="ThumbprintAgreeDisagreeYes()">{{"agree"|
                            translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop2rem" *ngIf="Selections">
            <div class="text-center">
                <div class="lblHeader">
                    {{"thumbprintListMsg"| translate}}
                </div>
                <div class="row padTop2rem">
                    <div class="col-1"></div>
                    <div class="col-5">
                        <button type="button" class="btnThumbprint">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        {{"ansuran"| translate}}
                                    </div>
                                    <div class="row">
                                        <label class="lblDate">08 Jan 2022</label>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <input class="regular-checkbox big-checkbox marginTopOneHalfrem" type="checkbox"
                                        value="" (click)="checkAnsuran()">
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-5">
                        <button type="button" class="btnThumbprint">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        {{"bina"| translate}}
                                    </div>
                                    <div class="row">
                                        <label class="lblDate">08 Jan 2022</label>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <input class="regular-checkbox big-checkbox marginTopHalfrem" type="checkbox"
                                        value="" (click)="checkBina()">
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="row padTopHalfrem">
                    <div class="col-1"></div>
                    <div class="col-5">
                        <button type="button" class="btnThumbprint">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        {{"50yo"| translate}}
                                    </div>
                                    <div class="row">
                                        <label class="lblDate">08 Jan 2022</label>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <input class="regular-checkbox big-checkbox marginTopHalfrem" type="checkbox"
                                        value="" (click)="check50yo()">
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-5">
                        <button type="button" class="btnThumbprint">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        {{"education"| translate}}
                                    </div>
                                    <div class="row">
                                        <label class="lblDate">08 Jan 2022</label>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <input class="regular-checkbox big-checkbox marginTopHalfrem" type="checkbox"
                                        value="" (click)="checkEducation()">
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="row padTopHalfrem">
                    <div class="col-1"></div>
                    <div class="col-5">
                        <button type="button" class="btnThumbprint">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        {{"1mil"| translate}}
                                    </div>
                                    <div class="row">
                                        <label class="lblDate">08 Jan 2022</label>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <input class="regular-checkbox big-checkbox marginTopHalfrem" type="checkbox"
                                        value="" (click)="check1mil()">
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-5">
                        <button type="button" class="btnThumbprint">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        {{"55yo"| translate}}
                                    </div>
                                    <div class="row">
                                        <label class="lblDate">08 Jan 2022</label>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <input class="regular-checkbox big-checkbox marginTopHalfrem" type="checkbox"
                                        value="" (click)="check55yo()">
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="row padTop2rem">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="note">
                            {{"thumbprintNotes"|translate}}
                        </div>
                    </div>
                </div>
                <div class="row padTop2rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="SelectionsNo()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="SelectionsYes()">{{"proceed"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop7rem" *ngIf="ThumbprintVerification">
            <div class="text-center">
                <div class="lblHeader">
                    {{"placeThumbprint"|translate}}
                </div>
                <div class="row padTopHalfrem">
                    <img src="assets/images/thumbprint.svg" width="400px" height="400px" (click)="skip()">
                </div>
                <div class="row padTopHalfrem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnNo"
                            (click)="ThumbprintVerificationNo()">{{"cancel"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem" *ngIf="Selected">
            <div class="text-center">
                <div class="lblHeader">
                    {{"success"| translate}}
                </div>
                <div class="row padTop2rem">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <button type="button" class="btnThumbprint">
                            <div class="row">
                                <div class="col-9">
                                    <label>{{"ansuran"| translate}}</label>
                                </div>
                                <div class="col-3">
                                    <input class="green-checkbox big-checkbox marginTop1rem" type="checkbox" value="">
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="row padTopHalfrem">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <button type="button" class="btnThumbprint">
                            <div class="row">
                                <div class="col-9">
                                    <label>{{"bina"| translate}}</label>
                                </div>
                                <div class="col-3">
                                    <input class="green-checkbox big-checkbox" type="checkbox" value="">
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="row padTop7rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="SelectedNo()">{{"endTrasaction"|
                            translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="SelectedYes()">{{"menu"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-popup">
            <div class="pop-up" *ngIf="popup">
                <div class="row text-center padTop5rem">
                    <div class="col-12">
                        <img src="assets/images/Icon-Attention.svg" width="200" height="175">
                    </div>
                </div>
                <div class="row text-center padTop5rem">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <label class="lblPopup">{{"didNotSelectPopUp1"| translate}}</label>
                        <label class="lblPopup" *ngIf="!checkedAnsuran">{{"MonthlyHousingLoan"| translate}},</label>
                        <label class="lblPopup" *ngIf="!checkedBina">{{"HouseBuilding"| translate}},</label>
                        <label class="lblPopup" *ngIf="!checked50yo">{{"50YearsOld"| translate}},</label>
                        <label class="lblPopup" *ngIf="!checkedEducation">{{"Education"| translate}},</label>
                        <label class="lblPopup" *ngIf="!checked55yo">{{"55YearsOld"| translate}},</label>
                        <label class="lblPopup" *ngIf="!checked1mil">{{"SavingsMoreThanMillion"| translate}}</label>
                        <label class="lblPopup">{{"didNotSelectPopUp2"| translate}}</label>
                        <label class="lblPopup">31 Dec 2021</label>
                        <label class="lblPopup">{{"didNotSelectPopUp3"| translate}}</label>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row text-center padTop5rem padBottom2rem">
                    <div class="col-12">
                        <button type="button" class="btnPopUp text-center" (click)="popupYes()">{{"yes"|
                            translate}}</button>
                    </div>
                </div>
            </div>
            <div class="pop-up" *ngIf="popupAnsuran">
                <div class="frame padtop10rem">
                    <div>
                        <label class="lblPopupBlack">KWSP 9P(AHL)</label>
                        <label class="lblPopupBlack" style="float:right">No.KWSP Ahli: 22232909</label>
                    </div>
                    <br />
                    <div class="row">
                        <label class="lblPopupBlack">Hi Muhammad Wahyu Nizam Bin Omir</label>
                    </div>
                    <br />
                    <div class="row">
                        <label class="lblPopupBlack">Anda telah memohon pengeluaran Ansuaran Bulanan Pinjaman Perumahan
                            melalui i-Akaun(Ahli) pada 01/12/2021 dengan Nombor Rujukan 001100200001234</label>
                    </div>
                    <br />
                    <div class="row">
                        <label class="lblPopupBlack">Maklumat bayaran pengeluaran pilihan anda adalah seperti
                            berikut:</label>
                    </div>
                    <br />
                    <div class="row">
                        <label class="lblPopupBlack">Bayaran kepada Institusi</label>
                    </div>
                    <ul>
                        <div class="row">
                            <div class="col-5">
                                <li class="lblList">Amaun Dimohon</li>
                            </div>
                            <div class="col-7">
                                <label class="lblList">RM24,000.00</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <li class="lblList">Cara Bayaran</li>
                            </div>
                            <div class="col-7">
                                <label class="lblList">Cek Jurubank</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <li class="lblList">Amaun Bayaran Setiap Bulan</li>
                            </div>
                            <div class="col-7">
                                <label class="lblList">RM1,000.00</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <li class="lblList">Institusi Pemberi Pinjaman</li>
                            </div>
                            <div class="col-7">
                                <label class="lblList">xxxxx</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <li class="lblList">No. Akaun Pinjaman Perumahan</li>
                            </div>
                            <div class="col-7">
                                <label class="lblList">xxxxxxx1401</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <li class="lblList">Bilangan Bulan</li>
                            </div>
                            <div class="col-7">
                                <label class="lblList">24 Bulan</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <li class="lblList">Bulan Mula</li>
                            </div>
                            <div class="col-7">
                                <label class="lblList">01/2022</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <li class="lblList">Bulan Akhir</li>
                            </div>
                            <div class="col-7">
                                <label class="lblList">01/2024</label>
                            </div>
                        </div>
                    </ul>
                    <div class="row">
                        <label class="lblPopupBlack">Saya bersetuju dengan maklumat di atas dan ingin meneruskan
                            pengesahan Cap Ibu Jari bagi pemohonan pengeluaran ini.</label>
                    </div>
                </div>
                <div class="row text-center padTop05rem padBottom2rem">
                    <div class="col-12">
                        <button type="button" class="btnPopUp text-center" (click)="popupYes()">{{"yes"|
                            translate}}</button>
                    </div>
                </div>
            </div>
            <div class="pop-up" *ngIf="popup50Tahun">
                <div class="frame padtop10rem">
                    <div>
                        <label class="lblPopupBlack">KWSP 9P(AHL)</label>
                        <label class="lblPopupBlack" style="float:right">No.KWSP Ahli: 22232909</label>
                    </div>
                    <br />
                    <div class="row">
                        <label class="lblPopupBlack">Hi Muhammad Wahyu Nizam Bin Omir</label>
                    </div>
                    <br />
                    <div class="row">
                        <label class="lblPopupBlack">Anda telah memohon pengeluaran Umur 50 Tahun melalui i-Akaun(Ahli)
                            pada 01/12/2021 dengan Nombor Rujukan 001100200001235</label>
                    </div>
                    <br />
                    <div class="row">
                        <label class="lblPopupBlack">Maklumat bayaran pengeluaran pilihan anda adalah seperti
                            berikut:</label>
                    </div>
                    <br />
                    <div class="row">
                        <label class="lblPopupBlack">Bayaran kepada Ahli</label>
                    </div>
                    <ul>
                        <div class="row">
                            <div class="col-5">
                                <li class="lblList">Amaun Dimohon</li>
                            </div>
                            <div class="col-7">
                                <label class="lblList">RM100,000.00</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <li class="lblList">Cara Bayaran</li>
                            </div>
                            <div class="col-7">
                                <label class="lblList">Pengkreditan Terus</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <li class="lblList">Bank</li>
                            </div>
                            <div class="col-7">
                                <label class="lblList">CIMB Bank BHD</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <li class="lblList">No. Akaun Bank</li>
                            </div>
                            <div class="col-7">
                                <label class="lblList">xxxxxxx1401</label>
                            </div>
                        </div>
                    </ul>
                    <div class="row">
                        <label class="lblPopupBlack">Saya bersetuju dengan maklumat di atas dan ingin meneruskan
                            pengesahan Cap Ibu Jari bagi pemohonan pengeluaran ini.</label>
                    </div>
                </div>
                <div class="row text-center padTop05rem padBottom2rem">
                    <div class="col-12">
                        <button type="button" class="btnPopUp text-center" (click)="popupYes()">{{"yes"|
                            translate}}</button>
                    </div>
                </div>
            </div>
            <div class="pop-up" *ngIf="popupMissing">
                <div class="row text-center padTop5rem">
                    <div class="col-12">
                        <img src="assets/images/Icon-Attention.svg" width="200" height="175">
                    </div>
                </div>
                <div class="row text-center padTop2rem">
                    <label class="lblPopup">Anda tidak memilih untuk membuat pengesahan permohonan pengeluaran seperti berikut:</label>
                </div>
                <div class="padTop2rem">
                    <table class="tblMissing">
                        <tr>
                            <th class="thMissing">Pengeluaran</th>
                            <th class="thMissing">Tarikh luput pengesahan cap ibu jari</th>
                        </tr>
                        <tr>
                            <td class="left tdBorder">1.Pendidikan</td>
                            <td class="text-center tdBorder">31 Disember 2021</td>
                        </tr>
                    </table>
                </div>
                <div class="row text-center padTop2rem">
                    <label class="lblPopup">Bagi mengelakkan permohonan pengeluaran anda dibatalkan, sila buat pengesahan melalui Self Service Terminal atau Cawangan KWSP berhampiran sebelum tarikh luput pengesahan Cap Ibu Jari.</label>
                </div>
                <div class="row text-center padTop2rem padBottom2rem">
                    <div class="col-12">
                        <button type="button" class="btnPopUp text-center" (click)="popupYes()">{{"yes"|
                            translate}}</button>
                    </div>
                </div>
            </div>
            <div class="pop-up" *ngIf="popupPerakuan">
                <div class="frame padtop10rem">
                    <div class="row text-center">
                        <label class="lblHeader">PERAKUAN DAN PENGESAHAN</label>
                    </div>
                    <div class="row padTop1rem">
                        <label class="highlightTitle">PENGESAHAN PEMOHON</label>
                    </div>
                    <div class="row padTop05rem">
                        <div class="col-1">
                            <label class="lblList">1.</label>
                        </div>
                        <div class="col-11">
                            <label class="lblList">Saya mengesahkan semua maklumat dan dokumen (jika berkenaan) yang diberikan bagi permohonan ini adalah benar dan betul.</label>
                        </div>
                    </div>
                    <div class="row padTop2rem">
                        <div class="col-1">
                            <label class="lblList">2.</label>
                        </div>
                        <div class="col-11">
                            <label class="lblList">Saya memahami sekiranya saya membuat apa-apa kenyataan yang tidak benar atau tidak betul atau mengemukakan atau memberikan apa-apa dokumen palsu, ia merupakan suatu kesalahan dan boleh menyebabkan saya didenda atau dipenjara atau kedua-duanya.</label>
                        </div>
                    </div>
                    <div class="row padTop2rem">
                        <div class="col-1">
                            <label class="lblList">3.</label>
                        </div>
                        <div class="col-11">
                            <label class="lblList">Saya memahami bahawa amaun yang akan diterima daripada KWSP adalah tertakluk kepada amaun kelayakan saya.</label>
                        </div>
                    </div>
                    <div class="row padTop2rem">
                        <div class="col-1">
                            <label class="lblList">4.</label>
                        </div>
                        <div class="col-11">
                            <label class="lblList">Saya memberi kebenaran untuk pihak institusi mendaftarkan permohonan ini (sekiranya berkaitan).</label>
                        </div>
                    </div>
                    <div class="row padTop2rem">
                        <div class="col-1">
                            <label class="lblList">5.</label>
                        </div>
                        <div class="col-11">
                            <label class="lblList">Saya dengan ini: <br> i. Memberi kebenaran kepada pihak KWSP memperolehi apa-apa maklumat berkaitan dengan saya bagi maksub pengeluaran ini daripada mana-mana pihak yang berkenaan.</label>
                        </div>
                    </div>
                    <div class="padTop2rem">
                        <input class="tnc-checkbox big-checkbox padTop3rem" id="tnc" name="tnc" type="checkbox" (click)="clickTNC()">
                        <label class="lblTNC" for="tnc">{{"TNC"| translate}}</label>
                    </div>
                </div>
                <div class="row padBottom2rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="popupPerakuanNo()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="popupPerakuanYes()">{{"proceed"| translate}}</button>
                    </div>
                </div>
            </div>
            <div class="pop-up" *ngIf="popupError">
                <div class="row text-center padTop5rem">
                    <div class="col-12">
                        <img src="assets/images/Icon-Attention.svg" width="200" height="175">
                    </div>
                </div>
                <div>
                    <label></label>
                </div>
                <div class="row text-center padTop2rem padBottom2rem">
                    <div class="col-12">
                        <button type="button" class="btnPopUp text-center" (click)="popupYes()">{{"yes"|
                            translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>