<div class="bg-img" style="background: url('assets/images/BG.png'); background-size: 1368px 850px;">
    <div class="header">{{ "i-Akaun" | translate }}</div>
    <div class="container-fluid">
        <div class="row padTop5rem content-container" *ngIf="page1">
            <div class="text-center">
                <div class="lblHeader">
                    {{"phoneEntryMsg"| translate}}
                </div>
                <div class="row padTopHalfrem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <input type="text" id="phoneNo" name="phoneNo" value="{{phoneNo}}">
                    </div>
                </div>
                <div class="row" *ngIf="phoneError">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <h2 class="errorMsg">{{"emptyPhoneError"| translate}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6 example">
                        <label class="">{{"exPhone" | translate}}</label>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-4 marginLeft">
                                <button class="keypad" (click)="click1()">1</button>
                            </div>
                            <div class="col-4">
                                <button class="keypad" (click)="click2()">2</button>
                            </div>
                            <div class="col-4 marginRight">
                                <button class="keypad" (click)="click3()">3</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-4 marginLeft">
                                <button class="keypad" (click)="click4()">4</button>
                            </div>
                            <div class="col-4">
                                <button class="keypad" (click)="click5()">5</button>
                            </div>
                            <div class="col-4 marginRight">
                                <button class="keypad" (click)="click6()">6</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-4 marginLeft">
                                <button class="keypad" (click)="click7()">7</button>
                            </div>
                            <div class="col-4">
                                <button class="keypad" (click)="click8()">8</button>
                            </div>
                            <div class="col-4 marginRight">
                                <button class="keypad" (click)="click9()">9</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col marginZero">
                        <button class="keypad" (click)="click0()">0</button>
                    </div>
                    <div class="col marginPadam">
                        <button class="keypadPadam" (click)="clickDel()">Padam</button>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row padTop2rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="note">
                            {{ "phoneNotes" | translate }}
                        </div>
                    </div>
                </div>
                <div class="row padTop2rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page1no()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page1yes()">{{"send"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop5rem content-container" *ngIf="page2">
            <div class="text-center">
                <div class="lblHeader">
                    {{"emailMsg"| translate}}
                </div>
                <div class="row padTop3rem">
                    <div class="col-2"></div>
                    <div class="col-3">
                        <input type="text" class="use-keyboard-input" id="txtEmail" name="txtEmail" value="{{emailAddress}}" #email>
                    </div>
                    <div class="col-1 lblSymbol">@</div>
                    <div class="col-4">
                        <select name="emailDDL" id="emailDDL" #emailDDL>
                            <option *ngFor="let elist of emailList" value={{elist}}>
                                {{elist}}
                            </option>
                        </select>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row padTop10rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page2no()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page2yes()">{{"send"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop5rem content-container" *ngIf="page3">
            <div class="text-center">
                <div class="lblHeader">
                    {{"VerifyPhone&EmailMsg"| translate}}
                </div>
                <div class="row padTop7rem">
                    <div class="col-3"></div>
                    <div class="col-2">
                        <div class="row">
                            <label class="lblReg">{{"phone" | translate}}</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="row">
                            <label class="lblSymbol" style="padding-top: 0.75rem;">:</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <label class="lblInfo">{{phoneNo}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-2">
                        <div class="row">
                            <label class="lblReg">{{"email" | translate}}</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="row">
                            <label class="lblSymbol" style="padding-top: 0.75rem;">:</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <label class="lblInfo">{{emailAddress}}</label>
                        </div>
                    </div>
                </div>


                <div class="row padTop14rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page3no()">{{"back"|translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page3yes()">{{"approve"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop7rem content-container" *ngIf="page4">
            <div class="text-center">
                <div class="lblHeader">
                    {{"iAkaunSucessReg"| translate}}
                </div>
                <div class="row padTop10rem">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="ThumbprintMsg">
                            {{"activateAkaun"| translate}}
                        </div>
                    </div>
                </div>
                <div class="row padTop15rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page4no()">{{"menu"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page4yes()">{{"yes"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop2rem content-container" *ngIf="page5">
            <div class="row text-center">
                <label class="lblHeader">
                    {{"iAkaunTitle"| translate}}
                </label>
            </div>
            <div class="row text-center">
                <div class="col-1"></div>
                <div class="col-10">
                    <label class="lblWarning">
                        {{"iAkaunWarning"| translate}}
                    </label>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row text-center padTopHalfrem">
                <div class="col-1"></div>
                <div class="col-10 scrollBox">
                    <div class="scroll">
                        <p style="white-space: pre;">{{TnC}}</p>
                        <input class="regular-checkbox big-checkbox padTop3rem" id="tnc" name="tnc" type="checkbox" (click)="clickTNC()">
                        <label class="lblTNC" for="tnc">{{"TNC"| translate}}</label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row text-center">
                <div class="row padTop2rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page5no()">{{"back"|translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page5yes()" [disabled]="xagreedTnc">{{"agree"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTopHalfrem content-container" *ngIf="page6">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"id"|translate}} </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <label class="lblAccount2">{{ ic }}</label>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"name"|translate}}</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <label class="lblAccount2">{{name}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"UserId"|translate}}</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <input target="needed" type="text" class="use-keyboard-input" id="txtAccount" name="acctNum" value="{{ acctNo }}" required #account_number>
                    </div>
                </div>
                <div class="col-4">
                    <div class="akaunNoteSmall">
                        {{"IDNotice"|translate}}<br>
                        {{"IDSample"|translate}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"password"|translate}}</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <input target="needed" type="password" class="use-keyboard-input" id="txtAccount" name="password" value="{{ password1 }}" required #password_1>
                    </div>
                </div>
                <div class="col-4">
                    <div class="akaunNoteSmall">
                        {{"PWNotice"|translate}}<br>
                        {{"PWSample"|translate}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"newPassword"|translate}}</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <input target="needed" type="password" class="use-keyboard-input" id="txtAccount" name="password" value="{{ password2 }}" required #password_2>
                    </div>
                </div>
            </div>

            <div class="row padTop1rem">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"onlineImage"|translate}} </label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col" *ngFor="let ci of checkboxImages">
                            <input type="radio" id="{{ci.imgId}}" [checked]="ci.checked" [hidden]="true"/>
                            <label class="selectLabel" for="{{ci.imgId}}" (click)="clickImage(ci.imgId)">
                                <img class="imgOnline" src="{{ci.imgPath}}">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row padTop1rem">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"onlineImage"|translate}} </label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="akaunNote">
                            {{ "AkaunNotes" | translate }}<br>
                            {{ "AkaunNotes2" | translate }}
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row padTop1rem">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"passphrase"|translate}} </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <input type="text" target="needed" required class="use-keyboard-input" id="txtAccount" name="securePhrase" value="{{ securePhrase }}" #secure_phrase>
                    </div>
                </div>
                <div class="col-3">
                    <div class="akaunNoteSmall">
                        {{"phraseNotice"|translate}}<br>
                        {{"phraseSample"|translate}}
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row padTop2rem">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <h2 class="errorMsg" *ngIf="accountAlpha">{{"accountAlpha"| translate}}</h2>
                    <h2 class="errorMsg" *ngIf="passwordAlpha">{{"passwordAlpha"| translate}}</h2>
                    <h2 class="errorMsg" *ngIf="accountMin">{{"accountMin"| translate}}</h2>
                    <h2 class="errorMsg" *ngIf="accountMax">{{"accountMax"| translate}}</h2>
                    <h2 class="errorMsg" *ngIf="passwordMin">{{"passwordMin"| translate}}</h2>
                    <h2 class="errorMsg" *ngIf="passwordMax">{{"passwordMax"| translate}}</h2>
                    <h2 class="errorMsg" *ngIf="imageSelect">{{"imageSelect"| translate}}</h2>
                    <h2 class="errorMsg" *ngIf="securePhraseMax">{{"securePhraseMax"| translate}}</h2>
                    <h2 class="errorMsg" *ngIf="passwordMatch">{{"passwordMatch"| translate}}</h2>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row padTop1rem text-center">
                <div class="col-2"></div>
                <div class="col-4">
                    <button type="button" class="btnNo" (click)="page6no()">{{"back"| translate}}</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btnYes" (click)="page6yes()">{{"continue"| translate}}</button>
                </div>
            </div>
        </div>
        <div class="row padTop2rem content-container" *ngIf="page7">
            <div class="text-center">
                <div class="row">
                    <div class="lblCongrats">
                        {{"congrats"| translate}}
                        <img src="assets/images/Icon-Berjaya.svg" class="imgGratz">
                    </div>
                </div>
                <div class="row padTop2rem">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="ThumbprintMsg">
                            {{"iAkaunSuccess"| translate}}
                        </div>
                    </div>
                </div>
                <div class="row padTopHalfrem">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="ThumbprintMsg">
                            {{"scanQR"| translate}}
                        </div>
                    </div>
                </div>
                <div class="row padTopHalfrem">
                    <img src="assets/images/qr-code.svg" width="300" height="300">
                </div>
                <div class="row padTopHalfrem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="page7yes()">{{"menu"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop5rem content-container" *ngIf="page8">
            <div class="text-center">
                <div class="row padTop5rem">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="ThumbprintMsg">
                            {{"saraanMsg"| translate}}
                        </div>
                    </div>
                </div>
                <div class="row padTop15rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page8no()">{{"no"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page8yes()">{{"yes"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="Failed">
            <div class="text-center">
                <div class="lblStatus">
                    {{"fail"| translate}}
                </div>
                <div class="row padTopHalfrem">
                    <img src="assets/images/Icon-TidakBerjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{"ActionFailed"|translate}}</div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="failedYes()">{{"yes"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>