<div class="bg-img">
    <div class="header">{{ "i-Akaun" | translate }}</div>
    <div class="container-fluid">
        <div class="row padTop10rem" *ngIf="page1">
            <div class="text-center">
                <div class="lblHeader">
                    {{"phoneEntryMsg"| translate}}
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <input type="text" id="phoneNo" name="phoneNo" value="{{phoneNo}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6 example">
                        <label class="">{{"exPhone" | translate}}</label>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col marginLeft">
                        <button class="keypad" (click)="click1()">1</button>
                    </div>
                    <div class="col">
                        <button class="keypad" (click)="click2()">2</button>
                    </div>
                    <div class="col marginRight">
                        <button class="keypad" (click)="click3()">3</button>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col marginLeft">
                        <button class="keypad" (click)="click4()">4</button>
                    </div>
                    <div class="col">
                        <button class="keypad" (click)="click5()">5</button>
                    </div>
                    <div class="col marginRight">
                        <button class="keypad" (click)="click6()">6</button>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col marginLeft">
                        <button class="keypad" (click)="click7()">7</button>
                    </div>
                    <div class="col">
                        <button class="keypad" (click)="click8()">8</button>
                    </div>
                    <div class="col marginRight">
                        <button class="keypad" (click)="click9()">9</button>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4"></div>
                    <div class="col marginZero">
                        <button class="keypad" (click)="click0()">0</button>
                    </div>
                    <div class="col marginPadam">
                        <button class="keypadPadam" (click)="clickDel()">Padam</button>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row padTop5rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="note">
                            {{ "phoneNotes" | translate }}
                        </div>
                    </div>
                </div>
                <div class="row padTop5rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page1no()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page1yes()">{{"send"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop10rem" *ngIf="page2">
            <div class="text-center">
                <div class="lblHeader">
                    {{"emailMsg"| translate}}
                </div>
                <div class="row padTop3rem">
                    <div class="col-2"></div>
                    <div class="col-3">
                        <input type="text" class="use-keyboard-input" id="txtEmail" name="txtEmail" #email>
                    </div>
                    <div class="col-1 lblSymbol padTop1rem">@</div>
                    <div class="col-4">
                        <select name="emailDDL" id="emailDDL" #emailDDL>
                            <option *ngFor="let elist of emailList" value={{elist}}>
                                {{elist}}
                            </option>
                        </select>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row padTop10rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page2no()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page2yes()">{{"send"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop10rem" *ngIf="page3">
            <div class="text-center">
                <div class="lblHeader">
                    {{"VerifyPhone&EmailMsg"| translate}}
                </div>
                <div class="row padTop15rem">
                    <div class="col-3"></div>
                    <div class="col-2">
                        <div class="row">
                            <label class="lblReg">{{"phone" | translate}}</label>
                        </div>
                        <div class="row">
                            <label class="lblReg">{{"email" | translate}}</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="row">
                            <label class="lblSymbol">:</label>
                        </div>
                        <div class="row">
                            <label class="lblSymbol">:</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <label class="lblInfo">{{phoneNo}}</label>
                        </div>
                        <div class="row">
                            <label class="lblInfo">{{emailAddress}}</label>
                        </div>
                    </div>
                </div>
                <div class="row padTop35rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page3no()">{{"back"|translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page3yes()">{{"approve"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop10rem" *ngIf="page4">
            <div class="text-center">
                <div class="lblHeader">
                    {{"iAkaunSucessReg"| translate}}
                </div>
                <div class="row padTop25rem">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="ThumbprintMsg">
                            {{"activateAkaun"| translate}}
                        </div>
                    </div>
                </div>
                <div class="row padTop35rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page4no()">{{"menu"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page4yes()">{{"yes"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop5rem" *ngIf="page5">
            <div class="row text-center">
                <label class="lblHeader">
                    {{"iAkaunTitle"| translate}}
                </label>
            </div>
            <div class="row text-center">
                <div class="col-1"></div>
                <div class="col-10">
                    <label class="lblWarning">
                        {{"iAkaunWarning"| translate}}
                    </label>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row text-center padTop3rem">
                <div class="col-1"></div>
                <div class="col-10 scrollBox">
                    <div class="scroll">
                        <p>
                            It is a good platform to learn programming.
                            It is an educational website. Prepare for the Recruitment drive
                            of product based companies like Microsoft, Amazon, Adobe etc with
                            a free online placement preparation course. The course focuses
                            on various MCQ's & Coding question likely to be asked in the
                            interviews & make your upcoming placement season efficient and
                            successful. Also, any geeks can help other geeks by writing
                            articles on the GeeksforGeeks, publishing articles follow few
                            steps that are Articles that need little modification/improvement
                            from reviewers are published first. To quickly get your articles
                            reviewed, please refer existing articles, their formatting style,
                            coding style, and try to make you are close to them. In case you
                            are a beginner, you may refer Guidelines to write an Article
                            It is a good platform to learn programming.
                            It is an educational website. Prepare for the Recruitment drive
                            of product based companies like Microsoft, Amazon, Adobe etc with
                            a free online placement preparation course. The course focuses
                            on various MCQ's & Coding question likely to be asked in the
                            interviews & make your upcoming placement season efficient and
                            successful. Also, any geeks can help other geeks by writing
                            articles on the GeeksforGeeks, publishing articles follow few
                            steps that are Articles that need little modification/improvement
                            from reviewers are published first. To quickly get your articles
                            reviewed, please refer existing articles, their formatting style,
                            coding style, and try to make you are close to them. In case you
                            are a beginner, you may refer Guidelines to write an Article
                            It is a good platform to learn programming.
                            It is an educational website. Prepare for the Recruitment drive
                            of product based companies like Microsoft, Amazon, Adobe etc with
                            a free online placement preparation course. The course focuses
                            on various MCQ's & Coding question likely to be asked in the
                            interviews & make your upcoming placement season efficient and
                            successful. Also, any geeks can help other geeks by writing
                            articles on the GeeksforGeeks, publishing articles follow few
                            steps that are Articles that need little modification/improvement
                            from reviewers are published first. To quickly get your articles
                            reviewed, please refer existing articles, their formatting style,
                            coding style, and try to make you are close to them. In case you
                            are a beginner, you may refer Guidelines to write an Article
                        </p>
                        <input class="regular-checkbox big-checkbox padTop3rem" id="tnc" name="tnc" type="checkbox">
                        <label class="lblTNC" for="tnc">{{"TNC"| translate}}</label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row text-center">
                <div class="row padTop5rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page5no()">{{"back"|translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page5yes()">{{"agree"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop3rem" *ngIf="page6">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"id"|translate}} </label>
                    </div>
                    <div class="row">
                        <label class="lblAccount">{{"name"|translate}}</label>
                    </div>
                    <div class="row">
                        <label class="lblAccount">{{"UserId"|translate}}</label>
                    </div>
                    <div class="row">
                        <label class="lblAccount">{{"password"|translate}}</label>
                    </div>
                    <div class="row">
                        <label class="lblAccount">{{"newPassword"|translate}}</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <label class="lblAccount2">921130105537</label>
                    </div>
                    <div class="row">
                        <label class="lblAccount2">MUHAMMAD WAHYU NIZAM BIN OMAR</label>
                    </div>
                    <div class="row">
                        <input type="text" id="txtAccount" name="txtAccount" value="921130105537">
                    </div>
                    <div class="row">
                        <input type="text" id="txtAccount" name="txtAccount" value="AbuAli12345">
                    </div>
                    <div class="row">
                        <input type="text" id="txtAccount" name="txtAccount" value="">
                    </div>
                </div>
                <div class="col-3">
                    <div class="row padTop14rem">
                        <div class="akaunNoteSmall">
                            {{"IDNotice"|translate}}<br>
                            {{"IDSample"|translate}}
                        </div>
                    </div>
                    <div class="row padTop2rem">
                        <div class="akaunNoteSmall">
                            {{"PWNotice"|translate}}<br>
                            {{"PWSample"|translate}}
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row padTop3rem">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"onlineImage"|translate}} </label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col">
                            <img class="imgOnline" src="assets/images/fish.svg">
                        </div>
                        <div class="col">
                            <img class="imgOnline" src="assets/images/frog.svg">
                        </div>
                        <div class="col">
                            <img class="imgOnline" src="assets/images/snail.svg">
                        </div>
                        <div class="col">
                            <img class="imgOnline" src="assets/images/lamb.svg">
                        </div>
                        <div class="col">
                            <img class="imgOnline" src="assets/images/penguin.svg">
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row padTop3rem">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"onlineImage"|translate}} </label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="akaunNote">
                            {{ "AkaunNotes" | translate }}<br>
                            {{ "AkaunNotes2" | translate }}
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row padTop3rem">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblAccount">{{"passphrase"|translate}} </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <input type="text" id="txtAccount" name="txtAccount" value="">
                    </div>
                </div>
                <div class="col-3">
                    <div class="akaunNoteSmall">
                        {{"phraseNotice"|translate}}<br>
                        {{"phraseSample"|translate}}
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row padTop5rem text-center">
                <div class="col-2"></div>
                <div class="col-4">
                    <button type="button" class="btnNo" (click)="page6no()">{{"back"| translate}}</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btnYes" (click)="page6yes()">{{"continue"| translate}}</button>
                </div>
            </div>
        </div>
        <div class="row padTop5rem" *ngIf="page7">
            <div class="text-center">
                <div class="row">
                    <div class="lblCongrats">
                        {{"congrats"| translate}}
                        <img src="assets/images/Icon-Berjaya.svg" class="imgGratz">
                    </div>
                </div>
                <div class="row padTop5rem">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="ThumbprintMsg">
                            {{"iAkaunSuccess"| translate}}
                        </div>
                    </div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="ThumbprintMsg">
                            {{"scanQR"| translate}}
                        </div>
                    </div>
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/qr-code.svg" width="600" height="600">
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="page7yes()">{{"menu"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop10rem" *ngIf="page8">
            <div class="text-center">
                <div class="row padTop25rem">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="ThumbprintMsg">
                            {{"saraanMsg"| translate}}
                        </div>
                    </div>
                </div>
                <div class="row padTop35rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page8no()">{{"no"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page8yes()">{{"yes"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>