<div class="bg-img" style="background: url('assets/images/BG.png') no-repeat scroll right center;">
    <div class="header">{{ "personalInfo" | translate }}</div>
    <div class="container-fluid">
        <div class="row padTop5rem" *ngIf="page1">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="local">
                        <input class="form-check-input" type="checkbox" id="chkLocal" (change)="reuseMykadAddress($event)">
                        <label class="form-check-label " for="flexCheckDefault">
                            {{"reuseAddress"|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row padTop5rem">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblProfile padBottomProfile">{{"postingAddress"|translate}} </label>
                    </div>
                    <div class="row">
                        <label class="lblProfile">{{"poscode"|translate}}</label>
                    </div>
                    <div class="row">
                        <label class="lblProfile">{{"city"|translate}}</label>
                    </div>
                    <div class="row">
                        <label class="lblProfile">{{"state"|translate}}</label>
                    </div>
                    <div class="row">
                        <label class="lblProfile">{{"country"|translate}}</label>
                    </div>
                    <div class="row">
                        <label class="lblProfile">{{"housePhone"|translate}}</label>
                    </div>
                    <div class="row">
                        <label class="lblProfile">{{"officePhone"|translate}}</label>
                    </div>
                    <div class="row">
                        <label class="lblProfile">{{"handPhone"|translate}}</label>
                    </div>
                    <div class="row">
                        <label class="lblProfile">{{"emailAddress"|translate}}</label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <input type="text" class="use-keyboard-input" id="txtProfile" name="txtProfile" required target="needed" value="{{address1}}" #address_1>
                    </div>
                    <div class="row">
                        <input type="text" class="use-keyboard-input" id="txtProfile" name="txtProfile" required target="needed" value="{{address2}}" #address_2>
                    </div>
                    <div class="row">
                        <input type="text" class="use-keyboard-input" id="txtProfile" name="txtProfile" required target="needed" value="{{address3}}" #address_3>
                    </div>
                    <div class="row">
                        <input type="text" class="use-keyboard-input" id="txtProfile" name="txtProfile" required target="needed" value="{{postcode}}" #post_code>
                    </div>
                    <div class="row">
                        <input type="text" class="use-keyboard-input" id="txtProfile" name="txtProfile" required target="needed" value="{{city}}" #city_>
                    </div>
                    <div class="row">
                        <input type="text" class="use-keyboard-input" id="txtProfile" name="txtProfile" required target="needed" value="{{state}}" #state_>
                    </div>
                    <div class="row">
                        <input type="text" class="use-keyboard-input" id="txtProfile" name="txtProfile" required target="needed" value="{{country}}" #country_>
                    </div>
                    <div class="row">
                        <input type="text" class="use-keyboard-input" id="txtProfile" name="txtProfile" required target="needed" value="{{homeNo}}" #home_no>
                    </div>
                    <div class="row">
                        <input type="text" class="use-keyboard-input" id="txtProfile" name="txtProfile" required target="needed" value="{{officeNo}}" #office_no>
                    </div>
                    <div class="row">
                        <input type="text" class="use-keyboard-input" id="txtProfile" name="txtProfile" required target="needed" value="{{phoneNo}}" #phone_no>
                    </div>
                    <div class="row">
                        <input type="text" class="use-keyboard-input" id="txtProfile" name="txtProfile" required target="needed" value="{{email}}" #email_>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row padTop5rem">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <h2 class="errorMsg" *ngIf="emptyFields">{{"emptyFields"| translate}}</h2>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row text-center padTop5rem">
                <div class="col-2"></div>
                <div class="col-4">
                    <button type="button" class="btnNo" (click)="page1no()">{{"back"| translate}}</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btnYes" (click)="page1yes()">{{"keep"| translate}}</button>
                </div>
            </div>
        </div>
        <div class="row padTop10rem" *ngIf="page2">
            <div class="text-center">
                <div class="lblHeader">
                    {{"verifyProfile"| translate}}
                </div>
                <div class="row padTop10rem">
                    <div class="col-2"></div>
                    <div class="col-2 left">
                        <label class="lblReg">{{"address"|translate}}</label>
                    </div>
                    <div class="col-1 lblSymbol">:</div>
                    <div class="col-6 left">
                        <label class="lblInfo">{{address1 + comma + address2 + comma + address3}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-2 left">
                        <label class="lblReg">{{"phone"|translate}}</label>
                    </div>
                    <div class="col-1 lblSymbol">:</div>
                    <div class="col-6 left">
                        <label class="lblInfo">{{phoneNo}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-2 left">
                        <label class="lblReg">{{"email"|translate}}</label>
                    </div>
                    <div class="col-1 lblSymbol">:</div>
                    <div class="col-6 left">
                        <label class="lblInfo">{{email}}</label>
                    </div>
                </div>
                <div class="row padTop35rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page2no()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page2yes()">{{"approve"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop10rem" *ngIf="page3">
            <div class="text-center">
                <div class="lblStatus">
                    {{"success"| translate}}
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/Icon-Berjaya.svg" width="500" height="450">
                </div>
                <div class="row padTop10rem">
                    <div class="statusMsg">{{"profileSuccessMsg"|translate}}</div>
                </div>
                <div class="row padTop15rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="page3yes()">{{"yes"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop10rem" *ngIf="Failed">
            <div class="text-center">
                <div class="lblStatus">
                    {{"fail"| translate}}
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/Icon-TidakBerjaya.svg" width="500" height="450">
                </div>
                <div class="row padTop10rem">
                    <div class="statusMsg">{{"ActionFailed"|translate}}</div>
                </div>
                <div class="row padTop10rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="failedYes()">{{"yes"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>