<div class="bg-img" style="background: url('assets/images/BG.png'); background-size: 1368px 850px;">
    <div class="header">{{ "personalInfo" | translate }}</div>
    <div class="container-fluid">
        <div class="row padTop05rem content-container" *ngIf="UpdateProfilePage">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    <div class="local">
                        <input class="form-check-input" type="checkbox" id="chkLocal" (change)="reuseMykadAddress($event)">
                        <label class="form-check-label " for="flexCheckDefault">
                            {{"reuseAddress"|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row padTop05rem">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblProfile padBottomProfile">{{"postingAddress"|translate}} </label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <input type="text" class="use-keyboard-input txtProfile" id="txtAddress1" name="address_1" maxlength="40" required target="needed" value="{{address1}}" #address_1>
                    </div>
                    <div class="row">
                        <input type="text" class="use-keyboard-input txtProfile" id="txtAddress2" name="address_2" maxlength="40" required target="needed" value="{{address2}}" #address_2>
                    </div>
                    <div class="row">
                        <input type="text" class="use-keyboard-input txtProfile" id="txtAddress3" name="address_3" maxlength="40" target="needed" value="{{address3}}" #address_3>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblProfile">{{"poscode"|translate}}</label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <input type="text" class="use-keyboard-input txtProfile" id="txtPostcode" name="txtProfile" required target="needed" value="{{postcode}}" #post_code>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblProfile">{{"city"|translate}}</label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <input type="text" class="use-keyboard-input txtProfile" id="txtCity" name="city_" required target="needed" value="{{city}}" #city_>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblProfile">{{"state"|translate}}</label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <input type="text" class="use-keyboard-input txtProfile" id="txtState" name="state_" required target="needed" value="{{state}}" #state_>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblProfile">{{"country"|translate}}</label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <input type="text" class="use-keyboard-input txtProfile" id="txtCountry" name="country_" required target="needed" value="{{country}}" #country_>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblProfile">{{"housePhone"|translate}}</label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <input type="text" class="use-keyboard-input txtProfile" id="txtHomeNo" name="homeno" target="needed" value="{{homeNo}}" #home_no>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblProfile">{{"officePhone"|translate}}</label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <input type="text" class="use-keyboard-input txtProfile" id="txtOfficeNo" name="homeno" target="needed" value="{{officeNo}}" #office_no>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblProfile">{{"handPhone"|translate}}</label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <input type="text" class="use-keyboard-input txtProfile" id="txtPhoneNo" name="phoneno" target="needed" value="{{phoneNo}}" #phone_no>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div class="row">
                        <label class="lblProfile">{{"emailAddress"|translate}}</label>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <input type="text" class="use-keyboard-input txtProfile" id="txtEmailAddress" name="txtProfile" target="needed" value="{{email}}" #email_>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>



            <div class="row padTop05rem">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <h5 class="errorMsg" *ngIf="emptyFields">{{"emptyFields"| translate}}</h5>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row text-center padTop05rem">
                <div class="col-2"></div>
                <div class="col-4">
                    <button type="button" class="btnNo" (click)="UpdateProfileNo()">{{"back"| translate}}</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btnYes" (click)="UpdateProfileYes()">{{"keep"| translate}}</button>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="SaveProfilePage">
            <div class="text-center">
                <div class="lblHeader">
                    {{"verifyProfile"| translate}}
                </div>
                <div class="row padTop5rem">
                    <div class="col-2"></div>
                    <div class="col-2 left">
                        <label class="lblReg">{{"address"|translate}}</label>
                    </div>
                    <div class="col-1 lblSymbol" style="margin-top: 0.75rem;">:</div>
                    <div class="col-6 left">
                        <label class="lblInfo" style="padding-left: 2rem;">{{address1 + comma + address2 + comma + address3 + comma + postcode + comma + city}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-2 left">
                        <label class="lblReg">{{"phone"|translate}}</label>
                    </div>
                    <div class="col-1 lblSymbol" style="margin-top: 0.75rem;">:</div>
                    <div class="col-6 left">
                        <label class="lblInfo" style="padding-left: 2rem;">{{phoneNo}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-2 left">
                        <label class="lblReg">{{"email"|translate}}</label>
                    </div>
                    <div class="col-1 lblSymbol" style="margin-top: 0.75rem;">:</div>
                    <div class="col-6 left">
                        <label class="lblInfo" style="padding-left: 2rem;">{{email}}</label>
                    </div>
                </div>
                <div class="row padTop15rem" *ngIf="!isCallAPI">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="SaveProfileNo()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="SaveProfileYes()">{{"approve"| translate}}</button>
                    </div>
                </div>
                <div class="row padTop15rem" *ngIf="isCallAPI">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row padTop5rem content-container" *ngIf="SaveSuccessPage">
            <div class="text-center">
                <div class="lblStatus">
                    {{"success"| translate}}
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/Icon-Berjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{"profileSuccessMsg"|translate}}</div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="SaveSuccessYes()">{{"yes"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="Failed">
            <div class="text-center">
                <div class="lblStatus">
                    {{"fail"| translate}}
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/Icon-TidakBerjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{errorDesc}}</div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="failedYes()">{{"continue"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>