<div class="bg-img" style="background: url('assets/images/BG.png'); background-size: 1368px 850px;">
    <div class="header">{{ "checkBalance" | translate }}</div>

    <div class="container-fluid">
        <div class="row padTop2rem content-container" *ngIf="page1">
            <div class="text-center">
                <div class="lblHeader">
                    {{"balance"| translate}}
                </div>
                <div class="row">
                    <label class="lblKWSP">
                        RM {{totalSavings | number : '1.2-2'}}
                    </label>
                </div>
                <table style="width:100%">
                    <tr>
                        <th class="left">{{"accType"|translate}}</th>
                        <th class="right">{{"openBalance"|translate}}</th>
                        <th class="right">{{"in"|translate}}</th>
                        <th class="right">{{"out"|translate}}</th>
                        <th class="right">{{"dividend"|translate}}</th>
                        <th class="right">{{"total"|translate}}</th>
                    </tr>
                    <tr *ngFor="let s of sDetails">
                        <td class="left" style="color:rgb(49, 39, 131); font-weight: 700;">Akaun {{s.subAccSeqNum}}</td>
                        <td class="right">{{s.openingBalance | number : '1.2-2'}}</td>
                        <td class="right">{{s.subAccCreditTotal | number : '1.2-2'}}</td>
                        <td class="right">{{s.subAccDebitTotal | number : '1.2-2'}}</td>
                        <td class="right">{{s.subAccDividend | number : '1.2-2'}}</td>
                        <td class="right" style="font-weight: 700;">{{s.subAccBalance | number : '1.2-2'}}</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="right">{{"total"|translate}}</th>
                        <th class="right" style="font-weight: 700;">{{grandTotal | number : '1.2-2'}}</th>
                    </tr>
                </table>
                <div class="row padTop5rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page1no()">{{"menu"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page1yes()">{{"getStatement"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop5rem content-container" *ngIf="page2">
            <div class="text-center">
                <div class="lblHeader">
                    {{"statementMsg"| translate}}
                </div>
                <div class="row padTop5rem" >
                    <div class="col-6 padTop2rem" *ngFor="let year of arrYears">
                    <button type="button" class="btnShariah" (click)="selectYear(year)">{{year}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTopHalfrem content-container" *ngIf="page3">
            <div class="text-center">
                <div class="lblHeader">
                    {{"carum"| translate}}
                </div>
                <div class="row">
                    <label class="lblKWSP">
                        RM{{transactionAmtForAcc1 | number : '1.2-2'}}
                    </label>
                </div>
                <table style="width:100%">
                    <tr>
                        <th class="left">{{"carumMonth"|translate}}</th>
                        <th class="right">{{"transaction"|translate}}</th>
                        <th class="right">{{"date"|translate}}</th>
                        <th class="right">{{"majikan"|translate}}</th>
                        <th class="right">{{"carumMember"|translate}}</th>
                        <th class="right">{{"total"|translate}}</th>
                    </tr>
                    <tr *ngFor="let c of cDetails">
                        <td class="left" style="color:rgb(49, 39, 131); font-weight: 700;">{{c.contributionMth}}</td>
                        <td class="right">{{c.transaction}}</td>
                        <td class="right">{{c.transactionDate}}</td>
                        <td class="right">{{c.employerShare | number : '1.2-2'}}</td>
                        <td class="right">{{c.memberShare | number : '1.2-2'}}</td>
                        <td class="right" style="font-weight: 700;">{{c.totalContribution | number : '1.2-2'}}</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="right">{{"total"|translate}}</th>
                        <th class="right" style="font-weight: 700;">{{transactionAmtForAcc1 | number : '1.2-2'}}</th>
                    </tr>
                </table>
                <div class="row padTop5rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page3no()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page3yes()">{{"getStatement"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop5rem content-container" *ngIf="page4">
            <div class="text-center">
                <div class="lblHeader">
                    {{"KWSPNoti"| translate}}
                </div>
                <div class="note2">
                    {{"KWSPMuat"|translate}}
                </div>
                <div class="row padTop10rem">
                    <label class="lblHeader">wahyu@aldantechnology.com</label>
                </div>
                <div class="row">
                    <label class="note2" style="text-decoration: underline;">{{"EditEmailMsg"|translate}}</label>
                </div>
                <div class="row padTop30rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="page4no()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="page4yes()">{{"send"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop5rem content-container" *ngIf="page5">
            <div class="text-center">
                <div class="lblStatus">
                    {{"success"| translate}}
                </div>
                <div class="row padTopHalfrem">
                    <img src="assets/images/Icon-Berjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{"KWSPSent"|translate}}</div>
                    <div class="statusMsg">wahyu@aldantechnology.com</div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="page5yes()">{{"yes"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop5rem content-container" *ngIf="page6">
            <div class="text-center">
                <div class="lblStatus">
                    {{"fail"| translate}}
                </div>
                <div class="row padTopHalfrem">
                    <img src="assets/images/Icon-TidakBerjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{"KWSPSentFail"|translate}}</div>
                    <div class="statusMsg">wahyu@aldantechnology.com</div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="page6yes()">{{"yes"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>