<div class="bg-img" style="background: url('assets/images/BG.png'); background-size: 1368px 850px;">
    <div class="header" >{{"checkBalance"|translate}}</div>
    <div class="container-fluid">
        <div class="row padTop2rem content-container" *ngIf="SummaryStatementPage">
            <div class="text-center">
                <div class="lblHeader">
                    {{"balance"| translate}} {{CurrentYear}}
                </div>
                <div class="row">
                    <label class="lblKWSP">
                        RM {{totalSavings | number : '1.2-2'}}
                    </label>
                </div>
                <table style="width:100%">
                    <tr>
                        <th class="left">{{"accType"|translate}}</th>
                        <th class="right">{{"openBalance"|translate}}</th>
                        <th class="right">{{"in"|translate}}</th>
                        <th class="right">{{"out"|translate}}</th>
                        <th class="right">{{"dividend"|translate}}</th>
                        <th class="right">{{"total"|translate}}</th>
                    </tr>
                    <tr *ngFor="let s of sDetails">
                        <!-- <td class="left" style="color:rgb(49, 39, 131); font-weight: 700;">Akaun {{s.subAccSeqNum}}</td> -->
                        <td class="left" style="color:rgb(49, 39, 131); font-weight: 700;">{{s.subAccSeqNumDesc}}</td>
                        <td class="right">{{s.openingBalance | number : '1.2-2'}}</td>
                        <td class="right">{{s.subAccCreditTotal | number : '1.2-2'}}</td>
                        <td class="right">{{s.subAccDebitTotal | number : '1.2-2'}}</td>
                        <td class="right">{{s.subAccDividend | number : '1.2-2'}}</td>
                        <td class="right" style="font-weight: 700;">{{s.subAccBalance | number : '1.2-2'}}</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="right">{{"total"|translate}}</th>
                        <th class="right" style="font-weight: 700;">{{totalSavings | number : '1.2-2'}}</th>
                    </tr>
                </table>
                <div class="row padTop5rem" *ngIf="isCallAPI">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                    </div>
                </div>
                <div class="row padTop5rem" *ngIf="!isCallAPI">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="SummaryStatementNo()">{{"menu"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="SummaryStatementYes()">{{"getStatement"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="SelectYearPage">
            <div class="text-center">
                <div class="lblHeader">
                    {{"statementMsg"| translate}}
                </div>
                <div class="row padTop5rem" *ngIf="!isCallAPI">
                    <div class="col-6 padTop2rem" *ngFor="let year of arrYears">
                    <button type="button" class="btnShariah" (click)="selectYear(year)">{{year}}</button>
                    </div>
                </div>
                <div class="row padTop5rem" *ngIf="isCallAPI">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                    </div>
                </div>
                <div class="row topBottom1rem" *ngIf="!isCallAPI">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnNo" (click)="BackFromSelectYearPage()">{{"back"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTopHalfrem content-container" *ngIf="StatementPage">
            <div class="text-center">
                <div class="lblHeader">
                    {{"balance"| translate}} {{selectedYear}}
                </div>
                <div class="row">
                    <label class="lblKWSP">
                        RM{{totalSavings | number : '1.2-2'}}
                    </label>
                </div>
                <div class="scrollbox">
                    <div class="tablescroll">
                        <table style="width:100%">
                            <tr>
                                <th class="left" style="position:sticky;  top:-5px;">{{"carumMonth"|translate}}</th>
                                <th class="left" style="position:sticky;  top:-5px;">{{"transaction"|translate}}</th>
                                <th class="left" style="position:sticky;  top:-5px;">{{"date"|translate}}</th>
                                <th class="right" style="position:sticky; top:-5px;">{{"majikan"|translate}}</th>
                                <th class="right" style="position:sticky; top:-5px;">{{"carumMember"|translate}}</th>
                                <th class="right" style="position:sticky; top:-5px;">{{"total"|translate}}</th>
                            </tr>
                            <tr *ngFor="let c of cDetails">
                                <td class="left" style="color:rgb(49, 39, 131); font-weight: 700;">{{c.contribMonth}}</td>
                                <td class="left">{{c.transDesc}}</td>
                                <td class="left">{{c.transDate}}</td>
                                <td class="right">{{c.employerShare | number : '1.2-2'}}</td>
                                <td class="right">{{c.memberShare | number : '1.2-2'}}</td>
                                <td class="right" style="font-weight: 700;">{{c.totalContribAmt | number : '1.2-2'}}</td>
                            </tr>
                            <tr *ngIf="cDetails.length == 0">
                                <td class="left" colspan="6">{{"noTransaction"|translate}}</td>
                            </tr>
                            <tr *ngIf="cDetails.length != 0">
                                <th style="position:sticky; bottom:-5px;"></th>
                                <th style="position:sticky; bottom:-5px;"></th>
                                <th style="position:sticky; bottom:-5px;"></th>
                                <th style="position:sticky; bottom:-5px;"></th>
                                <th class="right" style="position:sticky; bottom:-5px;">{{"total"|translate}}</th>
                                <th class="right" style="font-weight: 700; position:sticky; bottom:-5px;">{{transactionAmtForAcc1 | number : '1.2-2'}}</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row topBottom1rem">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="StatementNo()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="StatementYes()">{{"getStatement"| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop5rem content-container" *ngIf="ConfirmEmailPage">
            <div class="text-center">
                <div class="lblHeader">
                    {{"KWSPNoti"| translate}}
                </div>
                <div class="note2">
                    {{"KWSPMuat"|translate}}:
                </div>
                <div class="row padTop5rem">
                    <label class="lblHeader">{{email}}</label>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <a class="note2" (click)="NavProfile()" style="text-decoration: underline; display: inline;">{{"EditEmailMsg"|translate}}</a>
                        <img src="assets/images/pencil-square.svg" width="30" height="30" style="display: inline;" (click)="NavProfile()">
                    </div>
                    <div class="col-1"></div>
                    <!-- <label class="note2" style="text-decoration: underline;">{{"EditEmailMsg"|translate}}</label> -->
                </div>
                <div class="row padTop15rem">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="note">
                            {{ "emailCheckBalanceNote" | translate }}
                        </div>
                    </div>
                </div>
                <div class="row padTop1rem" *ngIf="!isCallAPI">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" class="btnNo" (click)="ConfirmEmailNo()">{{"back"| translate}}</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btnYes" (click)="ConfirmEmailYes()">{{"send"| translate}}</button>
                    </div>
                </div>
                <div class="row padTop1rem" *ngIf="isCallAPI">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="spinner-border text-primary spinning-addon" role="status"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padTop5rem content-container" *ngIf="EmailSuccessPage">
            <div class="text-center">
                <div class="lblStatus">
                    {{"success"| translate}}
                </div>
                <div class="row padTopHalfrem">
                    <img src="assets/images/Icon-Berjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{"KWSPSent"|translate}}</div>
                    <div class="statusMsg">{{email}}</div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="EmailSuccessYes()">{{"yes"|translate}}</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row padTop5rem content-container" *ngIf="EmailFailPage">
            <div class="text-center">
                <div class="lblStatus">
                    {{"fail"| translate}}
                </div>
                <div class="row padTopHalfrem">
                    <img src="assets/images/Icon-TidakBerjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{"KWSPSentFail"|translate}}</div>
                    <div class="statusMsg">{{email}}</div>
                </div>
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="EmailFailYes()">{{"yes"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padTop5rem content-container" *ngIf="Failed">
            <div class="text-center">
                <div class="lblStatus">
                    {{"fail"| translate}}
                </div>
                <div class="row padTop3rem">
                    <img src="assets/images/Icon-TidakBerjaya.svg" width="250" height="225">
                </div>
                <div class="row padTop3rem">
                    <div class="statusMsg">{{errorDesc | translate}}</div>
                </div>  
                <div class="row padTop3rem">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="button" class="btnYes" (click)="failedYes()">{{"continue"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>